.matrix-contain {
	padding-top: 20px;
	padding-bottom: 10px;

	&:last-child {
		padding-bottom: 20px;
	}
}

.matrix {
	border-top: 1px solid #e3e9ed;
}

.matrix-inner {
	position: relative;
	min-height: 150px;
	padding-bottom: 20px;

	p {
		padding: .5em 0 1em;
		line-height: 1.25em;
	}

	.matrix-date {
		font-size: .875em;
		color: #7a8ca2;
	}

	.button {
		position: absolute;
		bottom: -12px;
		left: 0;
		width: 100%;
	}
}

.matrix-full {
	margin-bottom: 20px;

	.matrix-inner {
		min-height: 0;
		padding-bottom: 0;
		padding-left: 4.5em;
		padding-top: .5em;
	}
}

.matrix-title {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 18px;
}

.matrix-status {
	font-size: 15px;
}

.matrix-button {
	position: absolute;
	top: -6px;
	right: 5px;
	font-size: 14px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

// Prospect matrix
.action-date {
	color: #e85344;
}

.interaction-type {
	position: relative;
	float: left;
	margin: -.5em 0 0 -3.5em;

	&:before {
		content: "";
		position: absolute;
		top: .25em;
		left: 0;
		width: 2em;
		height: 2em;
		@include border-radius(50%);
		border-width: 1px;
		border-style: solid;
	}

	&:after {
		content: "";
		position: absolute;
		top: .05em;
		left: 0;
		width: .875em;
		height: .875em;
		text-align: center;
		font-family: 'icons';
		font-size: 2.5em;
	}

	&.type-email {
		&:before {
			border-color: #43496f;
		}

		&:after {
			content: "\270E";
			color: #43496f;
		}
	}

	&.type-phone {
		&:before {
			border-color: #62b5ba;
		}

		&:after {
			content: "\2713";
			color: #62b5ba;
		}
	}

	&.type-person {
		&:before {
			border-color: #e85344;
		}

		&:after {
			content: "\E731";
			color: #e85344;
		}
	}

	&.type-other {
		&:before {
			border-color: #32d491;
		}

		&:after {
			content: "\27A6";
			color: #32d491;
		}
	}
}