.task-list {
	margin: 0;
	overflow: hidden;
	padding: 15px 15px 10px;
	list-style: none;
	background: #f6f6f6;
	border: 1px solid #e3e9ed;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

	li {
		float: left;
		width: 100%;
		margin: 0 0 5px;
		padding: 15px;
		border: 1px solid #e3e9ed;
		background: white;
		border-radius: 1px;
		cursor: move;
	}
}

.task-button {
	position: absolute;
	top: 0;
	right: -3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	height: 100%;
	padding-left: 13px;
	padding-right: 13px;

	.add {
		margin-right: 0;
	}
}