/* Buttons
----------------------------------------------- */
.button-wrap {
	float: right;
}

.button {
	@include prefixer(border-radius, 2px, webkit moz o ms spec);
	border: none;
	cursor: pointer;
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 18px 11px 14px;
	position: relative;

	.icon {
		position: absolute;
		top: -9px;
		left: 9px;
	}

	.add {
		color: rgba(0,0,0,0.25);
		display: inline-block;
		float: left;
		font-size: 20px;
		font-weight: 600;
		line-height: 15px;
		margin-right: 8px;
		margin-top: 0px;
	}
}

.button-small {
	padding: 6px 10px 7px;
}

/* Green */
.button-green {
	@include transition(all 0.25s linear);
	background: $green;
	color: #fff;

	:hover {
		background: #82cace;
	}
}

/* Purple */
.button-purple {
	@include transition(all 0.25s linear);
	background: $purple;
	color: #fff;
}

/* Blue */
.button-blue {
	@include transition(all 0.25s linear);
	background: #1ea4ca;
	color: #fff;
}

.button-blue:hover {
	background: #26b5de;
}

/* Gray */
.button-gray {
	background: #f6f6f6;
	color: #999;
}

.button-gray:hover {
	background: #fafafa;
}