/* Primary Colors
----------------------------------------------- */
$charcoal: #33393d;
$green: #32d491;
$purple: #43496f;
$brightgreen: #20c9b4;
$dark-green: #4b979c;
$gray-border: #d8dce0;
$light-gray: #f7f9fa;
$light-gray-border: #e3e9ed;
$dark-blue: #2a2f36;
$blue-gray: #7a8ca2;