/* Modules
----------------------------------------------- */
.module {

	.module-header {
		background: $purple;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border: 1px solid $purple;
		color: #fff;
		font-size: 15px;
		padding: 12px 0;
		width: 100%;
		list-style: none;
	}

	.module-body {
		background: #fff;
		border: 1px solid $light-gray-border;
		border-top: none;
		margin: 0 0 25px;
		min-height: 120px;
		overflow: hidden;
		padding: 20px 0;
	}

	.module-list {
		list-style: none;
		font-size: 15px;
		border-left: 1px solid $light-gray-border;
		border-right: 1px solid $light-gray-border;

		.row {
			border-bottom: 1px solid $light-gray-border;
			margin-left: 0;
			margin-right: 0;
			padding: 10px 0;
		}
	}

	.no-padding {
		padding: 0;
	}

	.no-border {
		border: none;
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: none;
	}

} // end .module