	<section class="module-container container">
		<div class="row">
			<section class="module">
				<header class="module-header clearfix">
					<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Status</section>
					<section class="col-lg-4"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Description</section>
					<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Invoice #</section>
					<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Date sent</section>
				</header>

				<section class="module-list">
					<a href="#/tasks" class="row">
						<section class="col-lg-2">Outstanding</section>
						<section class="col-lg-4">Initial deposit for website design</section>
						<section class="col-lg-2">001136</section>
						<section class="col-lg-2">05/16/2014</section>
					</a>

					<a href="#/tasks" class="row">
						<section class="col-lg-2">Paid</section>
						<section class="col-lg-4">Final payment for logo design</section>
						<section class="col-lg-2">001125</section>
						<section class="col-lg-2">05/16/2014</section>
					</a>
				</section>
			</section>
		</div>
	</section>