<section class="module">
	<header class="module-header">
		Notes
		<button ng-click="toggleNoteModal()" class="btn btn-dark btn-add mh-btn">New note</button>
	</header>
	<modal-dialog show="noteModalShown">
		<div class="modal-header">Add Note</div>

		<form class="modal-form">
			<label>Title</label>
			<input type="text">

			<label>Description</label>
			<textarea type="text"></textarea>

			<button type="submit" class="btn btn-primary btn-edit left" ng-click="toggleNoteModal()">Save</button>
		</form>
	</modal-dialog>
	<div class="module-content">
		<div class="matrix-wrapper row">
			<div ng-repeat="note in clientNotes" class="sm-12 md-5-half lg-2-half matrix-item">
				<small class="matrix-date">5/16/2014</small>
				<p class="matrix-title">
					{{note.title}}<br>
					<em class="matrix-status">{{note.description}}</em>
				</p>

				<button class="btn btn-secondary btn-matrix">View note</button>
			</div>
		</div>
	</div>
</div>