	<section class="module-container container">
		<div class="row">
			<section class="module">
				<header class="module-header clearfix">
					<section class="col-lg-12">
						Notes

						<button class="button button-green button-small right note-button">New note</button>
					</section>
				</header>

				<section class="module-list">
					<div class="row">
						<div class="col-lg-12 notes-contain">
							<div class="module col-md-4">
								<div class="module-list">
									<div class="row note">
										<div class="col-sm-12 note-inner">
											<small class="note-date">5/16/2014</small>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis neque id vestibulum sagittis. Duis non egestas velit. Vivamus non lacinia turpis, eu sagittis felis...</p>
											<button class="button button-gray button-small">View note</button>
										</div>
									</div>
								</div>
							</div>

							<div class="module col-md-4">
								<div class="module-list">
									<div class="row note">
										<div class="col-sm-12 note-inner">
											<small class="note-date">5/6/2014</small>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis neque id vestibulum sagittis. Duis non egestas velit. Vivamus non lacinia turpis felis...</p>
											<button class="button button-gray button-small">View note</button>
										</div>
									</div>
								</div>
							</div>

							<div class="module col-md-4">
								<div class="module-list">
									<div class="row note">
										<div class="col-sm-12 note-inner">
											<small class="note-date">4/4/2014</small>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis neque id vestibulum sagittis.</p>
											<button class="button button-gray button-small">View note</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-12 notes-contain">
							<div class="module col-md-4">
								<div class="module-list">
									<div class="row note">
										<div class="col-sm-12 note-inner">
											<small class="note-date">5/16/2014</small>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis neque id vestibulum sagittis. Duis non egestas velit. Vivamus non lacinia turpis, eu sagittis felis...</p>
											<button class="button button-gray button-small">View note</button>
										</div>
									</div>
								</div>
							</div>

							<div class="module col-md-4">
								<div class="module-list">
									<div class="row note">
										<div class="col-sm-12 note-inner">
											<small class="note-date">5/6/2014</small>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis neque id vestibulum sagittis. Duis non egestas velit. Vivamus non lacinia turpis felis...</p>
											<button class="button button-gray button-small">View note</button>
										</div>
									</div>
								</div>
							</div>

							<div class="module col-md-4">
								<div class="module-list">
									<div class="row note">
										<div class="col-sm-12 note-inner">
											<small class="note-date">5/16/2014</small>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis neque id vestibulum sagittis. Duis non egestas velit. Vivamus non lacinia turpis, eu sagittis felis...</p>
											<button class="button button-gray button-small">View note</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>
	</section>