<section class="module sm-12 lg-5">
	<header class="module-header">Client details</header>

	<div class="module-content">
		<div class="mc-well row">
			<p class="sm-12 md-3"><strong>Company:</strong></p>
			<p class="sm-12 md-9">{{ client.name || 'Unknown' }}</p>
			<p class="sm-12 md-3"><strong>Contact:</strong></p>
			<p class="sm-12 md-9">{{ client.contact || 'Unknown' }}</p>
			<p class="sm-12 md-3"><strong>Email:</strong></p>
			<p class="sm-12 md-9"><a href="mailto:steve@apple.com">{{ client.email || 'Unknown' }}</a></p>
			<p class="sm-12 md-3"><strong>Phone:</strong></p>
			<p class="sm-12 md-9">{{ client.phone || 'Unknown' }}</p>
			<p class="sm-12 md-3"><strong>Address:</strong></p>
			<p class="sm-12 md-9">{{ client.address || 'Unknown' }}<br>{{ Unknown || 'Unknown'}}, {{ client.state || 'Unknown'}} 55555</p>
		</div>
	</div>
</section>

<section class="module sm-12 lg-6-half lg-offset-half">
	<header class="module-header">Activity</header>

	<div class="module-content">
		<ul class="activity-list no-bullets">
			<li class="al-project" ng-repeat="activity in client.activities">
				<p><small>5/28/2014</small></p>
				<p>{{ activity.type }} <strong><a href="#">{{ activity.title }}</a></strong> was {{ activity.action }}</p>
			</li>
		</ul>
	</div>
</section>