<div class="fake-table">
	<div class="ft-header row">
		<div class="ft-header-col md-3">Project</div>
		<div class="ft-header-col md-3">Status</div>
		<div class="ft-header-col md-3">Due Date</div>
		<div class="ft-header-col md-3">Progress</div>
	</div>

	<a href="#" class="ft-row row">
		<div class="ft-row-col sm-12 md-3">Project title</div>
		<div class="ft-row-col sm-12 md-3">Active</div>
		<div class="ft-row-col sm-12 md-3">02/12/2015</div>
		<div class="ft-row-col sm-12 md-3">50% Complete</div>
	</a>

	<a href="#" class="ft-row row">
		<div class="ft-row-col sm-12 md-3">Project title</div>
		<div class="ft-row-col sm-12 md-3">Active</div>
		<div class="ft-row-col sm-12 md-3">02/12/2015</div>
		<div class="ft-row-col sm-12 md-3">50% Complete</div>
	</a>

	<a href="#" class="ft-row row">
		<div class="ft-row-col sm-12 md-3">Project title</div>
		<div class="ft-row-col sm-12 md-3">Active</div>
		<div class="ft-row-col sm-12 md-3">02/12/2015</div>
		<div class="ft-row-col sm-12 md-3">50% Complete</div>
	</a>
</div>