	<section class="module-container container">
		<div class="row">
			<section class="module">
				<header class="module-header clearfix">
					<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Status</section>
					<section class="col-lg-4"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Project</section>
					<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Due Date</section>
					<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Progress</section>
					<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Last Updated</section>
				</header>

				<section class="module-list">
					<a href="#/tasks" class="row">
						<section class="col-lg-2">Active</section>
						<section class="col-lg-4">Website Redesign</section>
						<section class="col-lg-2">8/15/2014</section>
						<section class="col-lg-2">
							<div class="progress">
	  							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							    	<span class="sr-only">60% Complete</span>
								</div>
							</div>
						</section>
						<section class="col-lg-2">05/16/2014</section>
					</a>

					<a href="#/tasks" class="row">
						<section class="col-lg-2">Archived</section>
						<section class="col-lg-4">Website Redesign</section>
						<section class="col-lg-2">8/15/2014</section>
						<section class="col-lg-2">
							<div class="progress">
	  							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
							    	<span class="sr-only">100% Complete</span>
								</div>
							</div>
						</section>
						<section class="col-lg-2">05/16/2014</section>
					</a>
				</section>
			</section>
		</div>
	</section>