<section class="module-container container">
	<section class="document-grid">
		<div class="row">
			<div class="col-lg-12 matrix-contain">
				<div class="module col-md-8">
					<div class="module-list">
						<div class="row matrix">
							<div class="col-sm-12 matrix-inner document-inner">
								<small class="matrix-date">5/16/2014</small>
								<h2 class="document-title">
									<a href class="document-name" ng-click="loadSingle()">Document Name</a><br>
								</h2>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis ipsum nisl, sit amet pellentesque elit ullamcorper in. Integer venenatis aliquet leo sit amet blandit. Praesent convallis, nisl ac dictum rhoncus, libero erat consequat velit, et facilisis sem dolor vel nunc. Praesent facilisis consequat magna quis iaculis. Aliquam tristique, ante in consequat tristique, eros felis lobortis mi, nec volutpat ligula odio tempor risus. Sed vel lacus quam. Duis id nisi eget justo aliquet mollis euismod nec quam. Curabitur nec malesuada lectus. Quisque condimentum consequat tortor, id sodales enim molestie in. Mauris justo erat, hendrerit nec dui id, congue mollis lorem. Morbi tellus elit, hendrerit nec erat sit amet, tempus mattis justo.</p>

								<p>Aenean gravida consequat sapien vitae sagittis. Nunc id mauris ac magna dictum blandit in sed felis. Nunc non volutpat eros. In a fringilla erat. Quisque in iaculis mauris. Curabitur sit amet hendrerit risus, id volutpat tellus. Nunc ante libero, tincidunt euismod elementum ac, malesuada ut neque. Fusce egestas dolor posuere odio eleifend sagittis. Donec condimentum felis massa, vitae aliquam sem hendrerit sit amet. Aliquam a neque quis tortor sagittis volutpat. Suspendisse vel auctor magna. Donec ornare velit at faucibus rutrum. Etiam id arcu nisl. Mauris egestas viverra pharetra. Fusce sit amet dui magna.</p>

								<p>Integer laoreet magna sem, elementum auctor orci dapibus vitae. Cras sed est vitae mauris fermentum congue a ut justo. Vestibulum malesuada, massa nec mollis imperdiet, metus tortor ultricies nulla, eu tempor sapien nulla sit amet turpis. Mauris nisl augue, consectetur ut luctus ac, blandit et eros. Nunc sollicitudin sodales nunc, nec malesuada diam vehicula nec. Morbi ultricies tellus massa, ac dignissim est bibendum bibendum. Ut molestie sodales nibh, ut convallis elit elementum pretium. Ut in velit mauris. Aenean lorem lorem, malesuada faucibus suscipit ut, pellentesque eget eros. Proin molestie augue ac tortor feugiat, et interdum ante bibendum.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="module col-md-4">
					Test
				</div>
			</div>
		</div>
	</section>
</section>