.file-contain {
	overflow: hidden;
	padding: 0;
}

.file-row {
	position: relative;
	float: left;
	width: 100%;
	padding: 1em;

	&:hover {
		background: #e3e9ed;
	}

	.btn {
		position: absolute;
		top: 1.5em;
		right: 1em;
		display: none;
	}

	@include breakpoint(medium) {
		&:hover .btn {
			display: block;
		}
	}
}

.fr-title,
.fr-meta {
	display: block;
}

.fr-title {
	padding: .325em 0 .5em 3.75em;
}

.fr-meta {
	padding: 0 0 0 4.615em;
	font-size: .813em;
}