.matrix-wrapper {
	@include breakpoint(medium) {
		margin: 0 -4.166% 0 0;
	}
}

.matrix-item {
	position: relative;
	overflow: hidden;
	margin-bottom: 1em;
	border: 1px solid #e3e9ed;
	background: $white;
	border-radius: 2px;
	min-height: 12em;

	p:not(.matrix-title) {
		padding: 2.5em 1.423em 3em;
		font-size: .875em;
	}

	@include breakpoint(medium) {
		margin-bottom: 4.166%;

		&:nth-child(even) {
			margin-left: $grid-width / 2;
		}
	}

	@include breakpoint(large) {
		margin-left: $grid-width / 2;
		
		&:nth-child(4n+1) {
			margin-left: 0;
		}
	}
}

.matrix-full {
	padding: 1em !important;

	p {
		padding: 0 !important;
	}

	.matrix-date {
		position: relative;
		top: auto;
		left: auto;
		font-size: .813em;
	}

	@include breakpoint(medium) {
		margin-bottom: 1.25em;
		padding: 1em 1em 1em 4.5em !important;

		&:nth-child(even) {
			margin-left: 0;
		}
	}

	@include breakpoint(large) {
		margin-left: 0;
	}
}

.matrix-date {
	position: absolute;
	top: 1.423em;
	left: 1.423em;
	font-size: .875em;
	color: #7a8ca2;
}

.matrix-title {
	position: absolute;
	top: 50%;
	left: 1.111em;
	transform: translateY(-50%);
	font-size: 1.125em;
	margin: 0;
	padding: 0;
	line-height: 1.25em;
}

.matrix-status {
	font-size: .938em;
}

.btn-matrix {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 0;
	font-size: .875em;
	padding: .357em 0;
}

// Prospect matrix
.action-date {
	color: #e85344;
}

.interaction-type {
	position: relative;
	float: left;
	margin: 0 1em 1em 0;
	width: 2em;
	height: 2em;

	@include breakpoint(medium) {
		margin: 0 0 0 -3.5em;
	}

	&:before {
		content: "";
		position: absolute;
		top: .25em;
		left: 0;
		width: 2em;
		height: 2em;
		border-radius: 50%;
		border-width: 1px;
		border-style: solid;
	}

	&:after {
		content: "";
		position: absolute;
		top: .05em;
		left: 0;
		width: .875em;
		height: .875em;
		text-align: center;
		font-family: $icon;
		font-size: 2.5em;
	}

	&.type-email {
		&:before {
			border-color: #43496f;
		}

		&:after {
			content: "\2709";
			color: #43496f;
		}
	}

	&.type-phone {
		&:before {
			border-color: #62b5ba;
		}

		&:after {
			content: "\1F4DE";
			color: #62b5ba;
		}
	}

	&.type-person {
		&:before {
			border-color: #e85344;
		}

		&:after {
			content: "\1F464";
			color: #e85344;
		}
	}

	&.type-other {
		&:before {
			border-color: #32d491;
		}

		&:after {
			content: "\2753";
			color: #32d491;
		}
	}
}