.app-subheader {
	position: relative;
	z-index: -2;
	padding: 1em;
	width: 100%;
	background: $white;
	border-bottom: 1px solid $grey-med;
	-webkit-transform: translateZ(0);
	
	@include breakpoint(medium) {
		width: calc(100% - 12.5em);
		padding: 1.25em 2.5em;
	}
}

.as-title {
	margin: 0;
	font-size: 1.375em;
	font-weight: 300;

	@include breakpoint(medium) {
		font-size: 1.625em;
	}
}

.as-subtitle {
	margin: 0;
	clear: both;
	font-weight: 300;
	font-size: 1.125em;
	line-height: .75em;
}

// Sub navigation
.as-nav {
	margin: 1.25em 0 -.375em;
	width: 100%;

	li {
		position: relative;
		display: inline-block;
		margin: 0 2.333em 0 0;
	}

	a {
		font-size: .875em;
		color: $black;
		font-weight: 800;
		text-decoration: none;
		text-transform: uppercase;
		transition: color .1s ease;

		&:hover {
			color: $primary;
		}
	}
}

.as-nav--current {
	a:hover {
		color: $black;
	}

	&::after {
		position: absolute;
		bottom: -.625em;
		left: 0;
		content: "";
		width: 100%;
		height: 2px;
		background: $primary;
	}

	@include breakpoint(medium) {
		&::after {
			bottom: -.875em;
		}
	}
}