.toggle-switch {
	display: none;

	&:checked {
		& + .toggle-switch--label {
			border-color: $green;

			&::before {
				color: $green;
				content: "\1F513";
				margin: -5px 0 0 .75em;
			}
		}

		& ~ .sidebar-list {
			.sidebar-list--link {
				display: none;
			}

			.sidebar-list--editable {
				display: block;
			}
		}
	}
}

.toggle-switch--label {
	position: relative;
	z-index: 1;
	width: 2.5em;
	height: 1.25em;
	margin: 0 -1.25em -1em;
	border-radius: 2px;
	border: 1px solid $grey-med;
	cursor: pointer;
	outline: none;
	user-select: none;
	transition: border-color .4s;

	&::before {
		position: relative;
		content: "\1F512";
		margin: -5px 0 0 4px;
		float: left;
		font-size: 1.75em;
		font-family: "entypo";
		color: $grey-med;
		// width: .75em;
		// height: .625em;
		// background: $grey-med;
		// border-radius: 1px;
		transition: margin-left .4s;
	}
}