<%= form_for @project do |f| %>
  <div class="field">
  	<%= best_in_place @project, :name, :type => :input %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
</div>
  <h3> Tasks</h3>
  <div id="tasks">
    <%= f.fields_for :tasks do |task| %>
      <%= render 'task_fields', :f => task %>
      <% end %>
    <div class="links">
      <%= link_to_add_association 'add task', f, :tasks %>
  </div>
  <%= f.hidden_field :user_id %>
  <%= f.submit %>
</div>
<% end %>

