<section class="module-container container">
	<section class="comment-module module col-lg-12">
		<div class="comment-meta">
			<img src="img/avatar.png">
			Jon Bellah<br />
			June 21, 2014 at 11:18am
		</div>
		<div class="comment">
			This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.
		</div>
		<ul class="comment-replies">
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="leave-reply"><img src="img/avatar.png"> <input type="text"></li>
		</ul>
	</section>

	<section class="comment-module module col-lg-12">
		<div class="comment-meta">
			<img src="img/avatar.png">
			Jon Bellah<br />
			June 21, 2014 at 11:18am
		</div>
		<div class="comment">
			This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.
		</div>
		<ul class="comment-replies">
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="leave-reply"><img src="img/avatar.png"> <input type="text"></li>
		</ul>
	</section>

	<section class="comment-module module col-lg-12">
		<div class="comment-meta">
			<img src="img/avatar.png">
			Jon Bellah<br />
			June 21, 2014 at 11:18am
		</div>
		<div class="comment">
			This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.
		</div>
		<ul class="comment-replies">
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="leave-reply"><img src="img/avatar.png"> <input type="text"></li>
		</ul>
	</section>

	<section class="comment-module module col-lg-12">
		<div class="comment-meta">
			<img src="img/avatar.png">
			Jon Bellah<br />
			June 21, 2014 at 11:18am
		</div>
		<div class="comment">
			This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.
		</div>
		<ul class="comment-replies">
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="reply clearfix"><img src="img/avatar.png"><span class="reply-author">Jon Bellah</span> What a comment reply looks like... why did this suddenly stop working?</li>
			<li class="leave-reply"><img src="img/avatar.png"> <input type="text"></li>
		</ul>
	</section>
</section>