<section class="module sm-12">
	<div class="module-content row">
		<div class="sm-12 md-2-half lg-2">
			<h3 class="comment-title">Comment</h3>
		</div>

		<div class="sm-12 md-9-half lg-10">
			<textarea class="comment-input" rows="2"></textarea>
			<button class="btn btn-primary btn-comment comment-btn">Submit</button>
		</div>
	</div>
</section>

<section class="module sm-12">
	<div class="module-content row">
		<img src="img/avatar.png" class="author-thumb">

		<div class="comment">
			<p class="comment-meta"><strong>John Bellah</strong> today at 10:28pm</p>
			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>

			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>

			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>
		</div>
	</div>
</section>

<section class="module sm-12">
	<div class="module-content row">
		<img src="img/avatar.png" class="author-thumb">

		<div class="comment">
			<p class="comment-meta"><strong>John Bellah</strong> today at 10:28pm</p>
			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>

			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>

			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>
		</div>
	</div>
</section>

<section class="module sm-12">
	<div class="module-content row">
		<img src="img/avatar.png" class="author-thumb">

		<div class="comment">
			<p class="comment-meta"><strong>John Bellah</strong> today at 10:28pm</p>
			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>

			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>

			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>
		</div>
	</div>
</section>