<section class="module-container container">
	<section class="leave-comment module col-lg-12">
		<h3 class="comment-title">Comment</h3>

		<textarea class="comment-input" rows="1"></textarea>
		<button class="button button-green">Submit</button>
	</section>

	<section class="comment-module module col-lg-12">
		<img src="img/avatar.png" class="author-thumb">

		<div class="comment">
			<p class="comment-meta"><strong>John Bellah</strong> today at 10:28pm</p>
			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>

			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>

			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>
		</div>
	</section>

	<section class="comment-module module col-lg-12">
		<img src="img/avatar.png" class="author-thumb">

		<div class="comment">
			<p class="comment-meta"><strong>John Bellah</strong> today at 10:28pm</p>
			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>
		</div>
	</section>

	<section class="comment-module module col-lg-12">
		<img src="img/avatar.png" class="author-thumb">

		<div class="comment">
			<p class="comment-meta"><strong>John Bellah</strong> today at 10:28pm</p>
			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>

			<p>This is what the body of a comment looks like. There's some text and stuff and you can read what I'm writing about... and I'm on an airplane and don't feel like paying $18 for an hour and forty minutes worth of wi-fi, so I'm just making up my own lorem ipsum.</p>
		</div>
	</section>
</section>