<section class="module">
	<header class="module-header">
		Sort by: <strong><a href="#">Date</a></strong>

		<a href="#" class="btn btn-dark btn-add mh-btn">Add file</a>
	</header>

	<div class="module-content file-contain">
		<div class="file-row row">
  			<a href="#"><img class="left" src="img/file-types/ai.png"></a>
  			<strong class="fr-title">Super_Awesome_filename.pdf</strong>
  			<span class="fr-meta">Uploaded Jun. 15 by Trevan Hetzel</span>

  			<a href="#" class="btn btn-primary btn-download">Download</a>
  		</div>

  		<div class="file-row row">
  			<a href="#"><img class="left" src="img/file-types/docx.png"></a>
  			<strong class="fr-title">Super_Awesome_filename.pdf</strong>
  			<span class="fr-meta">Uploaded Jun. 15 by Trevan Hetzel</span>

  			<a href="#" class="btn btn-primary btn-download">Download</a>
  		</div>

  		<div class="file-row row">
  			<a href="#"><img class="left" src="img/file-types/eps.png"></a>
  			<strong class="fr-title">Super_Awesome_filename.pdf</strong>
  			<span class="fr-meta">Uploaded Jun. 15 by Trevan Hetzel</span>

  			<a href="#" class="btn btn-primary btn-download">Download</a>
  		</div>

  		<div class="file-row row">
  			<a href="#"><img class="left" src="img/file-types/jpg.png"></a>
  			<strong class="fr-title">Super_Awesome_filename.pdf</strong>
  			<span class="fr-meta">Uploaded Jun. 15 by Trevan Hetzel</span>

  			<a href="#" class="btn btn-primary btn-download">Download</a>
  		</div>

  		<div class="file-row row">
  			<a href="#"><img class="left" src="img/file-types/pdf.png"></a>
  			<strong class="fr-title">Super_Awesome_filename.pdf</strong>
  			<span class="fr-meta">Uploaded Jun. 15 by Trevan Hetzel</span>

  			<a href="#" class="btn btn-primary btn-download">Download</a>
  		</div>

  		<div class="file-row row">
  			<a href="#"><img class="left" src="img/file-types/png.png"></a>
  			<strong class="fr-title">Super_Awesome_filename.pdf</strong>
  			<span class="fr-meta">Uploaded Jun. 15 by Trevan Hetzel</span>

  			<a href="#" class="btn btn-primary btn-download">Download</a>
  		</div>

  		<div class="file-row row">
  			<a href="#"><img class="left" src="img/file-types/zip.png"></a>
  			<strong class="fr-title">Super_Awesome_filename.pdf</strong>
  			<span class="fr-meta">Uploaded Jun. 15 by Trevan Hetzel</span>

  			<a href="#" class="btn btn-primary btn-download">Download</a>
  		</div>
	</div>
</section>