<!-- Project Overview -->
<section class="module-container container">
	<div class="row">

		<section class="module col-lg-6">
			<header class="module-header clearfix">
				Project Health
			</header>

			<section class="module-body project-health">
				<dial dial-value="dialValue1"></dial>
				<dial dial-value="dialValue2"></dial>
				<div class="project-breakdown">
					Hours &amp; Costs
					Budget
					Amount left
				</div>
				<div class="project-diagnosis">
					Your project is healthy, you're ahead!
				</div>
			</section>
		</section>

		<section class="module col-lg-6">
			<header class="module-header clearfix">
				Recent Activity
			</header>

			<section class="module-body">
				Testing
			</section>
		</section>
	</div>
</section>

<section class="module-container container">
	<section class="module">
		<header class="module-header clearfix">
			<section class="project-name col-lg-4 col-md-4 col-sm-4 col-xs-6"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Task</section>
			<section class="project-client col-lg-3 col-md-3 col-sm-3 hidden-xs"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Comments</section>
			<section class="project-due  col-lg-2 col-md-2 col-sm-2 col-xs-3"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Due Date</section>
		</header>

		<section class="module-list">
			<div class="row" ng-repeat="task in project.tasks" >
				<section status-bool="task.completed" task-id="task.id" click-to-edit="task.title" class="project-name col-lg-4 col-md-4 col-sm-4 col-xs-6"></section>
				<section class="project-client col-lg-3 col-md-3 col-sm-3 hidden-xs">Client</section>
				<section class="project-due col-lg-2 col-md-2 col-sm-2 col-xs-3">Due Date</section>
				<section class="project-progress col-lg-3 col-md-3 col-sm-3 hidden-xs">
					<div class="progress">
	  					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						  	<span class="sr-only">60% Complete</span>
						</div><a ng-click="deleteTask($index)">Delete Task</a>
					</div>
				</section>
			</div><!-- .row -->


		</section>
	</section>
</section>