<section class="module sm-12 lg-5">
	<header class="module-header">Info</header>

	<div class="module-content">
		<div class="mc-well row">
			<p class="sm-12 md-4"><strong>Project title:</strong></p>
			<p class="sm-12 md-8">Responsive web design</p>
			<p class="sm-12 md-4"><strong>Client:</strong></p>
			<p class="sm-12 md-8">Apple Inc.</p>
			<p class="sm-12 md-4"><strong>Date created:</strong></p>
			<p class="sm-12 md-8">June 1, 2014</p>
		</div>
	</div>
</section>

<section class="module sm-12 lg-6-half lg-offset-half">
	<header class="module-header">Brief</header>

	<div class="module-content">
		<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac molestie felis, id cursus erat. Donec nulla erat, lobortis ac blandit sed, sagittis quis ipsum. Etiam ultricies velit id interdum ultricies. Suspendisse eu ipsum mauris. Pellentesque odio orci, feugiat at tincidunt sed, rhoncus vel libero. Etiam pulvinar diam nulla. Pellentesque et leo volutpat, scelerisque odio sodales, pellentesque mi. Integer sagittis gravida neque, blandit blandit magna congue a.</p>
	</div>
</section>