		<!-- PROJECTS LIST -->
		<section class="module-container container">
			<div class="row">
				<section class="module col-lg-6">
					<header class="module-header clearfix">
						Project Health
					</header>
					<section class="module-body project-health">
						<input type="text" value="75" data-width="180" data-thickness="0.125" data-fgColor="#428bca" data-readOnly=true class="dial">
						<input type="text" value="45" data-width="180" data-thickness="0.125" data-fgColor="#428bca" data-readOnly=true class="dial">
						<div class="project-breakdown">
							Hours & Costs
							Budget
							Amount left
						</div>
						<div class="project-diagnosis">
							Your project is healthy, you're ahead!
						</div>
					</section>
				</section>
				<section class="module col-lg-6">
					<header class="module-header clearfix">
						Recent Activity
					</header>
					<section class="module-body">
						Testing
					</section>
				</section>
			</div>
		</section>

		<section class="module-container container">
			<section class="module">
				<header class="module-header clearfix">
					<section class="project-name col-lg-4 col-md-4 col-sm-4 col-xs-6"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Task</section>
					<section class="project-client col-lg-3 col-md-3 col-sm-3 hidden-xs"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Comments</section>
					<section class="project-due  col-lg-2 col-md-2 col-sm-2 col-xs-3"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Due Date</section>
				</header>

				<section class="module-list">
					<div class="row">
						<section class="project-name col-lg-4 col-md-4 col-sm-4 col-xs-6"><a href="#/tasks">Project</a></section>
						<section class="project-client col-lg-3 col-md-3 col-sm-3 hidden-xs">Client</section>
						<section class="project-due col-lg-2 col-md-2 col-sm-2 col-xs-3">Due Date</section>
						<section class="project-progress col-lg-3 col-md-3 col-sm-3 hidden-xs">
							<div class="progress">
	  							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							    	<span class="sr-only">60% Complete</span>
								</div>
							</div>
						</section>
					</div><!-- .row -->
					<div class="row">
						<section class="project-name col-lg-4 col-md-4 col-sm-4 col-xs-6"><a href="#/tasks">Project</a></section>
						<section class="project-client col-lg-3 col-md-3 col-sm-3 hidden-xs">Client</section>
						<section class="project-due col-lg-2 col-md-2 col-sm-2 col-xs-3">Due Date</section>
						<section class="project-progress col-lg-3 col-md-3 col-sm-3 hidden-xs">
							<div class="progress">
	  							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
							    	<span class="sr-only">30% Complete</span>
								</div>
							</div>
						</section>
					</div><!-- .row -->
					<div class="row">
						<section class="project-name col-lg-4 col-md-4 col-sm-4 col-xs-6"><a href="#/tasks">Project</a></section>
						<section class="project-client col-lg-3 col-md-3 col-sm-3 hidden-xs">Client</section>
						<section class="project-due col-lg-2 col-md-2 col-sm-2 col-xs-3">Due Date</section>
						<section class="project-progress col-lg-3 col-md-3 col-sm-3 hidden-xs">
							<div class="progress">
	  							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
							    	<span class="sr-only">80% Complete</span>
								</div>
							</div>
						</section>
					</div><!-- .row -->
				</section>
			</section>
		</section>