<section class="module sm-12 md-6" ng-controller="DragDropCtrl">
	<header class="module-header">
		To do
		<a href ng-click="taskToggleModal()" class="btn btn-dark btn-add mh-btn">Add</a>
	</header>

	<div class="module-content">
		<ul class="task-list row no-bullets new" droppable>
			<li task-id="task.id" data-taskId="{{task.id}}" draggable="true" id="{{task.completed}}" ng-repeat="task in project.tasks | filter:!checkCompleted" click-to-edit="task.title"><a href="#/tasks">{{ task.title }}</a></li>
		</ul>
	</div>
</section>

<section class="module sm-12 md-5-half md-offset-half">
	<header class="module-header">Done</header>

	<div class="module-content">
		<ul class="task-list row no-bullets done" droppable drop="handleDrop()">
			<li task-id="task.id" data-taskId="{{task.id}}" draggable="true" id="{{task.completed}}" ng-repeat="task in project.tasks | filter:checkCompleted" click-to-edit="task.title"><a href="#/tasks">{{ task.title }}</a></li>
		</ul>
	</div>
</section>
