<section class="module sm-12 md-6">
	<header class="module-header">
		To do
		<a href ng-click="taskToggleModal()" class="btn btn-dark btn-add mh-btn">Add</a>
	</header>

	<div class="module-content">
		<ul class="task-list row no-bullets" ui-on-Drop="onDropTaskFresh($event,$data,freshTasks)">
			<li task-id="task.id" click-to-edit="task.title" ui-draggable="true" drag="task" 
				on-drop-success="dropSuccessHandler($event,$index,freshTasks)"
				ng-repeat="task in freshTasks">
			{{task.title}}
			</li>
		</ul>
	</div>
</section>

<section class="module sm-12 md-5-half md-offset-half">
	<header class="module-header">Done</header>

	<div class="module-content">
		<ul class="task-list row no-bullets" ui-on-Drop="onDropTaskComplete($event,$data,completedTasks)">
			<li task-id="task.id" click-to-edit="task.title" ui-draggable="true" drag="task" 
				on-drop-success="dropSuccessHandler($event,$index,completedTasks)"
				ng-repeat="task in completedTasks">
			{{task.title}}
			</li>
		</ul>
	</div>
</section>