<section class="module-container container">
	<div class="row">
		<section class="team-member-wrap col-lg-4">
			<div class="team-member clearfix">
				<img src="img/avatar.png">

				<div class="team-info">
					Testing
				</div>
			</div>
		</section>

		<section class="team-member-wrap col-lg-4">
			<div class="team-member clearfix">
				<img src="img/avatar.png">

				<div class="team-info">
					Testing
				</div>
			</div>
		</section>

		<section class="team-member-wrap col-lg-4">
			<div class="team-member clearfix">
				<img src="img/avatar.png">

				<div class="team-info">
					Testing
				</div>
			</div>
		</section>
	</div>
</section>