<main class="content content-clients" role="main">
	<header class="page-header">
		<div class="container">
			<section class="page-title">
				<h2>Apple Inc.</h2>
			</section>

			<section class="button-wrap">
				<button class="button button-gray">
					Edit Client
				</button>
			</section>
		</div>

		<div class="container">
			<ul class="header-menu" sub-nav>
				<li><a href ng-click="loadOverview()" class="selected">Overview</a></li>
				<li><a href ng-click="loadFiles()">Notes</a></li>
				<li><a href ng-click="loadTasks()">Projects</a></li>
				<li><a href ng-click="loadDiscussion()">Documents</a></li>
				<li><a href ng-click="loadFiles()">Invoices</a></li>
			</ul>
		</div>
	</header>

	<section class="module-container container">
		<div class="row">
			<section class="module col-lg-5">
				<header class="module-header clearfix">
					<section class="col-lg-12">Client Details</section>
				</header>

				<section class="module-list">
					<div class="row">
						<div class="col-lg-12">
							<div class="well row">
								<p class="col-lg-3"><strong>Company:</strong></p>
								<p class="col-lg-9">Apple Inc.</p>
								<p class="col-lg-3"><strong>Contact:</strong></p>
								<p class="col-lg-9">Steve Jobs</p>
								<p class="col-lg-3"><strong>Email:</strong></p>
								<p class="col-lg-9"><a href="mailto:steve@apple.com">steve@apple.com</a></p>
								<p class="col-lg-3"><strong>Phone:</strong></p>
								<p class="col-lg-9">555-555-1234</p>
								<p class="col-lg-3"><strong>Address:</strong></p>
								<p class="col-lg-9">123 Apple Drive<br>Hollywood, CA 55555</br>
							</div>
						</div>
					</div>
				</section>
			</section>

			<section class="module col-lg-7">
				<header class="module-header clearfix">
					<section class="col-lg-12">Activity</section>
				</header>

				<section class="module-list">
					<div class="row">
						<div class="col-lg-12">
							<ul class="activity-list">
								<li>
									<p>lorem ipsum</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</section>
		</div>
	</section>
</main>
