<section class="app-subheader row right">
    <h1 class="as-title left">Clients</h1>
    <button type="submit" class="btn btn-primary btn-add right" ng-click="toggleModal()">New client</button>
</section>

<section class="app-content row right">
    <div class="fake-table">
        <div class="ft-header row">
            <div class="ft-header-col md-3">Company</div>
            <div class="ft-header-col md-3">Contact</div>
            <div class="ft-header-col md-3">Phone</div>
            <div class="ft-header-col md-3">Location</div>
        </div>

        <a href="#/clients/{{ client.name }}" class="ft-row row" ng-repeat="client in clients">
            <div class="ft-row-col sm-12 md-3">{{ client.name }}</div>
            <div class="ft-row-col sm-12 md-3">{{ client.contact }}</div>
            <div class="ft-row-col sm-12 md-3">{{ client.phone }}</div>
            <div class="ft-row-col sm-12 md-3">{{ client.city }}</div>
        </a>
    </div>
</section>

<modal-dialog show="modalShown">
	<div class="modal-header">New client</div>

	<form class="modal-form">
		<label>Company</label>
		<input type="text" ng-model="clientInfo.name">

		<label>Contact</label>
		<input type="text" ng-model="clientInfo.contact">

		<label>Email</label>
		<input type="text" ng-model="clientInfo.email">

		<label>Phone</label>
		<input type="text" ng-model="clientInfo.phone">

		<label>Website</label>
		<input type="text" ng-model="clientInfo.website">

		<label>Address</label>
		<input type="text" ng-model="clientInfo.address">

		<label>City</label>
		<input type="text" ng-model="clientInfo.city">

		<label>State</label>
		<input type="text" ng-model="clientInfo.state">

		<button type="submit" class="btn btn-primary btn-add left" ng-click="saveNewClient();toggleModal()">Create client</button>
	</form>
</modal-dialog>