<header id="masthead" class="site-header" data-ng-include="'/public/auth/views/shared/header.html'"></header>
<aside id="secondary" class="sidebar" data-ng-include="'/public/auth/views/shared/sidebar.html'"></aside>

<!-- PRIMARY CONTENT -->
<section class="content content-clients">

	<div class="content-wrap inactive">

		<!-- PAGE HEADER -->
		<header class="page-header">
			<div class="container">
				<section class="page-title">
					<h2>Clients</h2>
				</section>

				<section class="button-wrap">
					<button class="button button-green"><span class="add-task-icon icon" aria-hidden="true" data-icon="&#57347;"></span></button>
					<button class="button button-gray"><span class="tag-task-icon icon" aria-hidden="true" data-icon="&#59148;"></span></button>
					<button class="button button-gray"><span class="share-task-icon icon" aria-hidden="true" data-icon="&#59136;"></span></button>
				</section>
			</div>
		</header>

	<!-- PROJECTS LIST -->
	<section class="module-container">
		<div class="container">
			<section class="module">
				<header class="module-header">
					<section class="moveable left"></section>
					<section class="client-company left"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Client</section>
					<section class="client-contact left"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Contact Name</section>
					<section class="client-phone left">Phone</section>
					<section class="client-email left">Email</section>

					<div class="clear"></div>
				</header>

				<ul class="module-list">
					<li class="module-list-item ui-state-default clear">
						<section class="moveable left"><span class="project-icon icon" aria-hidden="true" 	data-icon="&#9871;"></span></section>
						<section class="client-company left">Company</span></section>
						<section class="client-contact left">Contact</section>
						<section class="client-phone left">Phone</section>
						<section class="client-email left">Email</section>
					</li>
				</ul>
			</section>
		</div>
	</section>
</section>

<footer id="colophon" class="site-footer" data-ng-include="'/public/auth/views/shared/footer.html'"></footer>