<main class="content content-clients" role="main">
	<header class="page-header">
		<div class="container">
			<section class="page-title">
				<h2>Clients</h2>
			</section>

			<section class="button-wrap">
				<button class="button button-green" ng-click='toggleModal()'>
					<span class="add">+</span> New Client
				</button>
			</section>
		</div>
	</header>

	<section class="module-container container">
		<section class="module">
			<header class="module-header clearfix">
				<section class="col-lg-3"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Company</section>
				<section class="col-lg-3"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Contact</section>
				<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Phone</section>
				<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Location</section>
				<section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Date Created</section>
			</header>

			<section class="module-list">
				<a href="#/clients/{{ client.name }}" class="row" ng-repeat="client in clients">
					<section class="col-lg-3">{{ client.name }}</section>
					<section class="col-lg-3">{{ client.contact }}</section>
					<section class="col-lg-2">{{ client.phone }}</section>
					<section class="col-lg-2">{{ client.city }}</section>
					<section class="col-lg-2">{{ client.createdAt }}</section>
				</a>
			</section>
		</section>
	</section>

	<modal-dialog show='modalShown' width='550px'>
		<div class="modal-header">New Prospect</div>
	    <form class="modal-form">
	      <label>Company</label>
	      <input type="text" ng-model="clientInfo.name">

	      <label>Contact</label>
	      <input type="text" ng-model="clientInfo.contact">

	      <label>Email</label>
	      <input type="text" ng-model="clientInfo.email"

	      <label>Phone</label>
	      <input type="text" ng-model="clientInfo.phone">

	      <label>Website</label>
	      <input type="text" ng-model="clientInfo.website">

	      <label>Address</label>
	      <input type="text" ng-model="clientInfo.address">

	      <label>City</label>
	      <input type="text" ng-model="clientInfo.city">

	      <label>State</label>
	      <input type="text" ng-model="clientInfo.state">

	      <button type="submit" class="button button-green" ng-click="saveNewClient();toggleModal()">Create client</button>
	    </form>
	</modal-dialog>
</main>
