<section class="app-subheader row right">
    <h1 class="as-title left">Documents</h1>
    <a href="app#/document-templates" class="btn btn-secondary as-title-btn-sec btn-edit right">Manage templates</a>
    <button type="submit" class="btn btn-primary btn-add right" ng-click="toggleModal()">New document</button>
</section>

<section class="app-content row right" ng-include="documentTemplate.url"></section>

<modal-dialog show="modalShown">
    <div class="modal-header">New template</div>

    <form class="modal-form">
        <label>Title</label>
        <input type="text" ng-model="newDocumentTitle">

        <label>Template</label>
        <textarea></textarea>

        <button type="submit" class="btn btn-primary btn-add" ng-click="saveNewDocument(); toggleModal()">Create document</button>
    </form>
</modal-dialog>