<!-- MAIN CONTENT -->
<main class="content content-documents" role="main">

	<!-- PAGE HEADER -->
	<header class="page-header">
		<div class="container">
			<section class="page-title">
				<h2>Projects</h2>
			</section>

			<section class="button-wrap">
				<button class="button button-green" ng-click='toggleModal()'><span class="add">+</span> Create New</button>
			</section><!-- .button-wrap -->
		</div><!-- .container -->

		<div class="container">
			<ul class="header-menu" sub-nav>
				<li><a href ng-click="loadOverview()" class="selected">All</a></li>
				<li><a href ng-click="loadTasks()">Active</a></li>
				<li><a href ng-click="loadDiscussion()">Completed</a></li>
				<li><a href ng-click="loadFiles()">Settings</a></li>
			</ul>
		</div>
	</header><!-- .page-header -->

	<!-- PROJECTS LIST -->
	<section class="module-container container">
		<section class="module">
			<header class="module-header clearfix">
				<section class="project-name col-lg-4 col-md-4 col-sm-4 col-xs-6"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Project</section>
				<section class="project-client col-lg-3 col-md-3 col-sm-3 hidden-xs"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Client</section>
				<section class="project-due col-lg-2 col-md-2 col-sm-2 col-xs-3"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Due Date</section>
				<section class="project-progress col-lg-3 col-md-3 col-sm-3 hidden-xs">Progress</section>
			</header><!-- .module-header -->

			<section class="module-list" ng-repeat="project in projects">
				<div class="row">
					<section class="project-name col-lg-4 col-md-4 col-sm-4 col-xs-6"><a href="#/projects/{{ project.title }}">{{ project.title }}</a></section>
					<section class="project-client col-lg-3 col-md-3 col-sm-3 hidden-xs">Client</section>
					<section class="project-due col-lg-2 col-md-2 col-sm-2 col-xs-3">Due Date</section>
					<section class="project-progress col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						    	<span class="sr-only">60% Complete</span>
							</div>
						</div>
					</section>
				</div><!-- .row -->
			</secton><!-- .module-list -->
		</section><!-- .module -->
	</section><!-- .container -->

</main><!-- .content -->

<!-- modal test -->
<modal-dialog show='modalShown' width='750px' height='400px'>
	<p>Yay! This is the create new projects modal!<p>
	<input type="text" ng-model="newProjectTitle" placeholder="Title:" />
	<button class="button button-green submit" ng-click="saveNewProject();toggleModal()">Add</button>
</modal-dialog>
