<section class="app-subheader row right">
    <h1 class="as-title left">Projects</h1>
    <button type="submit" class="btn btn-primary btn-add right" ng-click="editProjToggleModal()">New project</button>
    <ul class="as-nav no-bullets left">
        <li class="as-nav--current"><a href="#">Active</a></li>
        <li><a href="#">Completed</a></li>
        <li><a href="#">All</a></li>
    </ul>
</section>

<section class="app-content row right">
	<div class="fake-table">
		<div class="ft-header row">
			<div class="ft-header-col md-3">Project</div>
			<div class="ft-header-col md-3">Client</div>
			<div class="ft-header-col md-3">Due Date</div>
			<div class="ft-header-col md-3">Progress</div>
		</div>

		<a href="#/projects/{{ project.title }}" class="ft-row row" ng-repeat="project in projects">
			<div class="ft-row-col sm-12 md-3">{{ project.title }}</div>
			<div class="ft-row-col sm-12 md-3">{{ project.clientName }}</div>
			<div class="ft-row-col sm-12 md-3">02/12/2015</div>
			<div class="ft-row-col sm-12 md-3">50% Complete</div>
		</a>
	</div>
</section>

<modal-dialog show="modalShown">
    <div class="modal-header">New project</div>

    <form class="modal-form">
        <label>Project title</label>
        <input type="text" ng-model="newProjectTitle">

        <button type="submit" class="btn btn-primary btn-add" ng-click="saveNewProject();toggleModal()">Create project</button>
    </form>
</modal-dialog>