<!-- MAIN CONTENT -->
<section class="content content-documents">

	<section class="content-wrap inactive">

		<!-- PAGE HEADER -->
		<header class="page-header">
			<div class="container">
				<section class="page-title">
					<h2>Projects</h2>
				</section>

				<section class="button-wrap">
					<button class="button button-gray"><span class="tag-task-icon icon" aria-hidden="true" data-icon="&#59148;"></span></button>
					<button class="button button-gray"><span class="share-task-icon icon" aria-hidden="true" data-icon="&#59136;"></span></button>
				</section>
			</div>
		</header>

		<!-- PROJECTS LIST -->
		<section class="module-container">
			<div class="container">
				<section class="module full">
					<header class="module-header">
						<section class="moveable col-lg-1 col-md-1 col-sm-1 col-xs-1"></section>
						<section class="project-name col-lg-4 col-md-4 col-sm-4 col-xs-6"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Project</section>
						<section class="project-client col-lg-3 col-md-3 col-sm-3 hidden-xs"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Client</section>
						<section class="project-due col-lg-1 col-md-1 col-sm-1 col-xs-3"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Due Date</section>
						<section class="project-progress col-lg-3 col-md-3 col-sm-3 hidden-xs">Progress</section>
					</header>

					<ul class="module-list">

					</ul>
				</section>
			</div>
		</section>
