<section class="app-subheader row right">
    <h1 class="as-title left">Prospects</h1>
    <button type="submit" class="btn btn-primary btn-add right" ng-click="toggleModal()">New prospect</button>
</section>

<section class="app-content row right">
    <div class="fake-table">
        <div class="ft-header row">
            <div class="ft-header-col md-3">Company</div>
            <div class="ft-header-col md-3">Contact</div>
            <div class="ft-header-col md-3">Phone</div>
            <div class="ft-header-col md-3">Follow Up</div>
        </div>

        <a href="app#/prospects/prospect" class="ft-row row">
            <div class="ft-row-col sm-12 md-3">Google</div>
            <div class="ft-row-col sm-12 md-3">Larry Page</div>
            <div class="ft-row-col sm-12 md-3">555-555-1234</div>
            <div class="ft-row-col sm-12 md-3">Do this and that</div>
        </a>

        <a href="app#/prospects/prospect" class="ft-row row">
            <div class="ft-row-col sm-12 md-3">Google</div>
            <div class="ft-row-col sm-12 md-3">Larry Page</div>
            <div class="ft-row-col sm-12 md-3">555-555-1234</div>
            <div class="ft-row-col sm-12 md-3">Do this and that</div>
        </a>

        <a href="app#/prospects/prospect" class="ft-row row">
            <div class="ft-row-col sm-12 md-3">Google</div>
            <div class="ft-row-col sm-12 md-3">Larry Page</div>
            <div class="ft-row-col sm-12 md-3">555-555-1234</div>
            <div class="ft-row-col sm-12 md-3">Do this and that</div>
        </a>

        <a href="app#/prospects/prospect" class="ft-row row">
            <div class="ft-row-col sm-12 md-3">Google</div>
            <div class="ft-row-col sm-12 md-3">Larry Page</div>
            <div class="ft-row-col sm-12 md-3">555-555-1234</div>
            <div class="ft-row-col sm-12 md-3">Do this and that</div>
        </a>

        <a href="app#/prospects/prospect" class="ft-row row">
            <div class="ft-row-col sm-12 md-3">Google</div>
            <div class="ft-row-col sm-12 md-3">Larry Page</div>
            <div class="ft-row-col sm-12 md-3">555-555-1234</div>
            <div class="ft-row-col sm-12 md-3">Do this and that</div>
        </a>

        <a href="app#/prospects/prospect" class="ft-row row">
            <div class="ft-row-col sm-12 md-3">Google</div>
            <div class="ft-row-col sm-12 md-3">Larry Page</div>
            <div class="ft-row-col sm-12 md-3">555-555-1234</div>
            <div class="ft-row-col sm-12 md-3">Do this and that</div>
        </a>
    </div>
</section>

<modal-dialog show="modalShown">
    <div class="modal-header">New prospect</div>

    <form class="modal-form">
        <label>Company</label>
        <input type="text">

        <label>Contact</label>
        <input type="text">

        <label>Phone</label>
        <input type="text">

        <label>Website</label>
        <input type="text">

        <label>Address</label>
        <input type="text">

        <label>City</label>
        <input type="text">

        <label>State</label>
        <input type="text">

        <label>Contacted because</label>
        <textarea></textarea>

        <button type="submit" class="btn btn-primary btn-add">Create prospect</button>
    </form>
</modal-dialog>