<main class="content content-prospects" role="main" ng-controller="Prospects">
  <header class="page-header">
    <div class="container">
      <section class="page-title">
        <h2>Prospects</h2>
      </section>

      <section class="button-wrap">
        <button class="button button-red" ng-click='toggleModal()'>
          <span class="add">+</span> New Prospect
        </button>
      </section>
    </div>
  </header>

  <section class="module-container container">
    <section class="module">
      <header class="module-header clearfix">
        <section class="col-lg-3"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Company</section>
        <section class="col-lg-3"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Contact</section>
        <section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Phone</section>
        <section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Follow Up</section>
        <section class="col-lg-2"><span class="sortable-icon icon" aria-hidden="true" data-icon="&#59215;"></span> Last Contact</section>
      </header>

      <section class="module-list">
        <a href="#/prospects/prospect" class="row">
          <section class="col-lg-3">Google</section>
          <section class="col-lg-3">Larry Page</section>
          <section class="col-lg-2">555-555-1234</section>
          <section class="col-lg-2">Hollywood, CA</section>
          <section class="col-lg-2">05/16/2013</section>
        </a>

        <a href="#/prospects/prospect" class="row">
          <section class="col-lg-3">Google</section>
          <section class="col-lg-3">Larry Page</section>
          <section class="col-lg-2">555-555-1234</section>
          <section class="col-lg-2">Hollywood, CA</section>
          <section class="col-lg-2">05/16/2013</section>
        </a>

        <a href="#/prospects/prospect" class="row">
          <section class="col-lg-3">Google</section>
          <section class="col-lg-3">Larry Page</section>
          <section class="col-lg-2">555-555-1234</section>
          <section class="col-lg-2">Hollywood, CA</section>
          <section class="col-lg-2">05/16/2013</section>
        </a>

        <a href="#/prospects/prospect" class="row">
          <section class="col-lg-3">Google</section>
          <section class="col-lg-3">Larry Page</section>
          <section class="col-lg-2">555-555-1234</section>
          <section class="col-lg-2">Hollywood, CA</section>
          <section class="col-lg-2">05/16/2013</section>
        </a>

        <a href="#/prospects/prospect" class="row">
          <section class="col-lg-3">Google</section>
          <section class="col-lg-3">Larry Page</section>
          <section class="col-lg-2">555-555-1234</section>
          <section class="col-lg-2">Hollywood, CA</section>
          <section class="col-lg-2">05/16/2013</section>
        </a>

        <a href="#/prospects/prospect" class="row">
          <section class="col-lg-3">Google</section>
          <section class="col-lg-3">Larry Page</section>
          <section class="col-lg-2">555-555-1234</section>
          <section class="col-lg-2">Hollywood, CA</section>
          <section class="col-lg-2">05/16/2013</section>
        </a>
      </section>
    </section>
  </section>

  <modal-dialog show='modalShown' width='550px'>
    <div class="modal-header">New Prospect</div>

    <form class="modal-form">
      <label>Company</label>
      <input type="text">

      <label>Contact</label>
      <input type="text">

      <label>Phone</label>
      <input type="text">

      <label>Website</label>
      <input type="text">

      <label>Address</label>
      <input type="text">

      <label>City</label>
      <input type="text">

      <label>State</label>
      <input type="text">

      <label>Contacted because</label>
      <textarea></textarea>

      <button type="submit" class="button button-green">Create prospect</button>
    </form>
  </modal-dialog>
</main>
