<main class="content content-documents" role="main" ng-controller="Tasks">

	<!-- PAGE HEADER -->
	<header class="page-header">
		<div class="container">
			<section class="page-title" ng-model="project">
				<h2>{{ project.title }}</h2>
				<h5>Apple, Inc.</h5>
			</section>

			<section class="button-wrap">
				<button class="button button-gray">Edit Project</button>
			</section>
		</div>

		<div class="container">
			<ul class="header-menu" sub-nav>
				<li><a href ng-click="loadTasks()" class="selected">Tasks</a></li>
				<li><a href ng-click="loadDiscussion()">Discussion</a></li>
				<li><a href ng-click="loadFiles()">Files</a></li>
				<li><a href ng-click="loadDetails()">Project Details</a></li>
			</ul>
		</div>
	</header>

	<section class="project-overview" ng-include="template.url"></section>

	<modal-dialog show='modalShown' width='750px' height='400px'>
		<input type="text" ng-model="newTaskTitle" placeholder="Title:" />
		<button class="button button-green submit" ng-click="saveNewTask();toggleModal()">Add</button>

	</modal-dialog>

</main>