<div ng-controller="Tasks">
    <section class="app-subheader row right">
        <h1 class="as-title left">{{ project.title }}</h1>
        
        <button type="submit" class="btn btn-secondary btn-edit right" ng-click="toggleModal()">Edit project</button>
        
        <h2 class="as-subtitle left">{{ project.clientName}}</h2>

        <ul class="as-nav no-bullets left" sub-nav>
	        <li class="as-nav--current"><a href ng-click="loadTasks()">Tasks</a></li>
	        <li><a href ng-click="loadDiscussion()">Discussion</a></li>
	        <li><a href ng-click="loadFiles()">Files</a></li>
	        <li><a href ng-click="loadDetails()">Project Details</a></li>
	    </ul>
    </section>

    <section class="app-content row right" ng-include="template.url"></section>
</div>

<modal-dialog show='modalShown'>
	<input type="text" ng-model="newTaskTitle" placeholder="Title:">
	<button class="button button-green submit" ng-click="saveNewTask();toggleModal()">Add</button>
</modal-dialog>