<div class="navigation" data-ng-include="'/public/system/views/shared/header.html'" data-role="navigation"></div>
<section class="about">
	<div class="container">
		<div class="row">
			<section id="tabs">
				<aside class="tabs-side col-lg-3 col-md-3">
					<ul>
						<li><a href="#tabs-1">About Project</a></li>
		    			<li><a href="#tabs-2">The Team</a></li>
		    			<li><a href="#tabs-3">Press Room</a></li>
		    			<li><a href="#tabs-4">Contact Us</a></li>
		  			</ul>
				</aside>

		  		<section class="tabs-main col-lg-9 col-md-9">
					<div id="tabs-1">
						<h2>About Project</h2>

		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus, erat in porta ultricies, ligula tortor vehicula nibh, at consectetur mi lorem et eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec lacinia, mi in dignissim aliquam, nisl sem pretium mi, sit amet volutpat mi eros quis orci.</p>

		    			<p>Donec at lacus non quam sollicitudin dictum. Aliquam rhoncus rutrum nibh, sed congue tortor congue pretium. Aliquam ut dui enim, vitae blandit nisl. Donec pretium diam in nunc tincidunt eget tincidunt enim dictum. Fusce nisi odio, porttitor eu posuere eget, scelerisque at purus. Phasellus commodo commodo dictum. Mauris posuere libero in ante ullamcorper semper. Vestibulum at odio enim, euismod consequat urna.</p>

						<p>Quisque mollis est eget diam consequat sed commodo eros adipiscing. Cras id ullamcorper tellus. Cras vel faucibus quam. Mauris interdum, augue nec porta feugiat, metus dolor euismod leo, id auctor metus mi at elit. Pellentesque ut consequat tellus. Fusce dolor turpis, tincidunt sed vehicula eu, convallis quis lorem. Morbi malesuada dolor a ligula porttitor gravida.</p>

						<p>Vivamus eleifend aliquam mauris, sit amet cursus elit sodales sed. Maecenas tortor est, semper feugiat fringilla vitae, imperdiet ut eros. Praesent et sem id turpis euismod fermentum at ut diam. Nam tincidunt dui eget nunc placerat non commodo felis vehicula. Donec ornare imperdiet ante, vel luctus magna sodales non.</p>
					</div>

  					<div id="tabs-2">
    					<h2>The Team</h2>

    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus, erat in porta ultricies, ligula tortor vehicula nibh, at consectetur mi lorem et eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec lacinia, mi in dignissim aliquam, nisl sem pretium mi, sit amet volutpat mi eros quis orci.</p>

    					<p>Donec at lacus non quam sollicitudin dictum. Aliquam rhoncus rutrum nibh, sed congue tortor congue pretium. Aliquam ut dui enim, vitae blandit nisl. Donec pretium diam in nunc tincidunt eget tincidunt enim dictum. Fusce nisi odio, porttitor eu posuere eget, scelerisque at purus. Phasellus commodo commodo dictum. Mauris posuere libero in ante ullamcorper semper. Vestibulum at odio enim, euismod consequat urna.</p>

						<p>Quisque mollis est eget diam consequat sed commodo eros adipiscing. Cras id ullamcorper tellus. Cras vel faucibus quam. Mauris interdum, augue nec porta feugiat, metus dolor euismod leo, id auctor metus mi at elit. Pellentesque ut consequat tellus. Fusce dolor turpis, tincidunt sed vehicula eu, convallis quis lorem. Morbi malesuada dolor a ligula porttitor gravida.</p>

						<p>Vivamus eleifend aliquam mauris, sit amet cursus elit sodales sed. Maecenas tortor est, semper feugiat fringilla vitae, imperdiet ut eros. Praesent et sem id turpis euismod fermentum at ut diam. Nam tincidunt dui eget nunc placerat non commodo felis vehicula. Donec ornare imperdiet ante, vel luctus magna sodales non.</p>
  					</div>

  					<div id="tabs-3">
    					<h2>Press Room</h2>

    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus, erat in porta ultricies, ligula tortor vehicula nibh, at consectetur mi lorem et eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec lacinia, mi in dignissim aliquam, nisl sem pretium mi, sit amet volutpat mi eros quis orci.</p>

    					<p>Donec at lacus non quam sollicitudin dictum. Aliquam rhoncus rutrum nibh, sed congue tortor congue pretium. Aliquam ut dui enim, vitae blandit nisl. Donec pretium diam in nunc tincidunt eget tincidunt enim dictum. Fusce nisi odio, porttitor eu posuere eget, scelerisque at purus. Phasellus commodo commodo dictum. Mauris posuere libero in ante ullamcorper semper. Vestibulum at odio enim, euismod consequat urna.</p>

						<p>Quisque mollis est eget diam consequat sed commodo eros adipiscing. Cras id ullamcorper tellus. Cras vel faucibus quam. Mauris interdum, augue nec porta feugiat, metus dolor euismod leo, id auctor metus mi at elit. Pellentesque ut consequat tellus. Fusce dolor turpis, tincidunt sed vehicula eu, convallis quis lorem. Morbi malesuada dolor a ligula porttitor gravida.</p>

						<p>Vivamus eleifend aliquam mauris, sit amet cursus elit sodales sed. Maecenas tortor est, semper feugiat fringilla vitae, imperdiet ut eros. Praesent et sem id turpis euismod fermentum at ut diam. Nam tincidunt dui eget nunc placerat non commodo felis vehicula. Donec ornare imperdiet ante, vel luctus magna sodales non.</p>
  					</div>

   					<div id="tabs-4">
						<h2>Contact Us</h2>

    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus, erat in porta ultricies, ligula tortor vehicula nibh, at consectetur mi lorem et eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec lacinia, mi in dignissim aliquam, nisl sem pretium mi, sit amet volutpat mi eros quis orci.</p>

    					<p>Donec at lacus non quam sollicitudin dictum. Aliquam rhoncus rutrum nibh, sed congue tortor congue pretium. Aliquam ut dui enim, vitae blandit nisl. Donec pretium diam in nunc tincidunt eget tincidunt enim dictum. Fusce nisi odio, porttitor eu posuere eget, scelerisque at purus. Phasellus commodo commodo dictum. Mauris posuere libero in ante ullamcorper semper. Vestibulum at odio enim, euismod consequat urna.</p>

						<p>Quisque mollis est eget diam consequat sed commodo eros adipiscing. Cras id ullamcorper tellus. Cras vel faucibus quam. Mauris interdum, augue nec porta feugiat, metus dolor euismod leo, id auctor metus mi at elit. Pellentesque ut consequat tellus. Fusce dolor turpis, tincidunt sed vehicula eu, convallis quis lorem. Morbi malesuada dolor a ligula porttitor gravida.</p>

						<p>Vivamus eleifend aliquam mauris, sit amet cursus elit sodales sed. Maecenas tortor est, semper feugiat fringilla vitae, imperdiet ut eros. Praesent et sem id turpis euismod fermentum at ut diam. Nam tincidunt dui eget nunc placerat non commodo felis vehicula. Donec ornare imperdiet ante, vel luctus magna sodales non.</p>
  					</div>
  				</section>

			</section><!-- END #tabs -->
		</div><!-- END .row -->
	</div><!-- .container -->
</section><!-- .about -->
<div class="footer" data-ng-include="'/public/system/views/shared/footer.html'" data-role="footer"></div>