<section class="pricing-header">
	<div class="container">
		<div class="row">
			<h1>Start your 14-day free trial.</h1>
			<p>14-day free trial. No obligation, no credit card required.</p>
		</div><!-- .row -->
	</div><!-- .container -->
</section>

<section class="pricing-tables">
	<div class="container">
		<div class="row">

		    <section class="pricing-table-wrap col-lg-4 col-md-4 col-sm-4">
		    	<div class="pricing-title">
		    	    <h3>Basic</h3>
		    	</div><!-- END .pricing-title -->

		    	<div class="pricing-table">
		    		<span class="price">$15<span class="month">/month</span></span>
			    	<div class="pricing-breakdown">
		    	    	<ul>
		    	    		<li>Up to 5 Users</li>
		    	    		<li>Unlimited Clients</li>
		    	    		<li>Unlimited Projects</li>
		    	    		<li>Unlimited Docs</li>
		    	    	</ul>
		    	    </div><!-- END .pricing-breakdown -->

		    	   	<center><input type="submit" value="Try it free" style="margin-top:30px;width:100%;"></center>
		    	</div><!-- .pricing-table -->
	    	</section><!-- END .pricing-table-wrap -->

			<section class="pricing-table-wrap recommended-plan col-lg-4 col-md-4 col-sm-4">
				<div class="pricing-title">
		       	 	<h3>Business</h3>
		        </div><!-- END .pricing-title -->

				<div class="pricing-table">
					<span class="price">$50<span class="month">/month</span></span>
		        	<div class="pricing-breakdown">
		        		<ul>
		        			<li>Up to 25 Users</li>
		    	    		<li>Unlimited Clients</li>
		    	    		<li>Unlimited Projects</li>
		    	    		<li>Unlimited Docs</li>
		        		</ul>
		        	</div><!-- END .pricing-breakdown -->

		        	<center><input type="submit" value="Try it free" style="margin-top:30px;width:100%;"></center>
		       	</div><!-- .pricing-table -->
	        </section><!-- END .pricing-table-wrap -->

	     	<section class="pricing-table-wrap col-lg-4 col-md-4 col-sm-4">
	     		<div class="pricing-title">
		     	  	<h3>Enterprise</h3>
		     	</div><!-- END .pricing-title -->

	     		<div class="pricing-table">
	     			<span class="price">$250<span class="month">/month</span></span>
		     	  	<div class="pricing-breakdown">
		  				<ul>
		  					<li>Unlimited Users</li>
		   					<li>Unlimited Clients</li>
		   					<li>Unlimited Projects</li>
		   					<li>Unlimited Docs</li>
		  				</ul>
		  			</div><!-- END .pricing-breakdown -->

			     	<center><input type="submit" value="Try it free" style="margin-top:30px;width:100%;"></center>
			     </div><!-- .pricing-table -->
		    </section><!-- END .pricing-table-wrap -->
		</div><!-- .row -->
	</div><!-- .container -->
</section><!-- END .pricing-tables -->

<section class="faqs">
	<div class="container">
       	<h2>Frequently Asked Questions</h2>

       	<section class="faq-left col-lg-6 col-md-6">
			<p><strong>Do I need to choose a plan now?</strong><br />
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

			<p><strong>Do I need a credit card to sign up for the trial?</strong><br />
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

			<p><strong>What happens at the end of my trial?</strong><br />
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

		</section><!-- END .faq-left / .span6 -->

	    <section class="faq-right col-lg-6 col-md-6">
			<p><strong>How does your pricing compare with other solutions?</strong><br />
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

			<p><strong>Do you provide a volume discount for large companies?</strong><br />
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

			<p><strong>Do you offer discounts for educational or non-profit institutions?</strong><br />
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
       	</section><!-- END .faq-left / .span6 -->

    </div><!-- END .wrap -->
</section><!-- END .frequently-asked -->

