/*

	Mockingbird - Organize. Manage. Better
	Version 0.0.2.20

	Primary Sass Stylesheet

*/
/* Import Libraries
----------------------------------------------- */
/**
 *	Mockingbird Mixins
 */
/* Font Sizing
----------------------------------------------- */
/* Gradients
----------------------------------------------- */
/* Opacity Colors
----------------------------------------------- */
/* Text Shadow
----------------------------------------------- */
/* Border Radius
----------------------------------------------- */
/* Primary Colors
----------------------------------------------- */
/* line 10, ../sass/app/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 79, ../sass/app/_mixins.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 83, ../sass/app/_mixins.scss */
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 10, ../sass/app/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/app/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../sass/app/_grid.scss */
  .container {
    width: 1170px;
  }
}

/* line 30, ../sass/app/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 79, ../sass/app/_mixins.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
/* line 83, ../sass/app/_mixins.scss */
.container-fluid:after {
  clear: both;
}

/* line 39, ../sass/app/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 79, ../sass/app/_mixins.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 83, ../sass/app/_mixins.scss */
.row:after {
  clear: both;
}

/* line 856, ../sass/app/_mixins.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 875, ../sass/app/_mixins.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-3 {
  width: 25%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-6 {
  width: 50%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-9 {
  width: 75%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 883, ../sass/app/_mixins.scss */
.col-xs-12 {
  width: 100%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-0 {
  right: 0%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 893, ../sass/app/_mixins.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-0 {
  left: 0%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 888, ../sass/app/_mixins.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 898, ../sass/app/_mixins.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  /* line 875, ../sass/app/_mixins.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-0 {
    right: 0%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-0 {
    left: 0%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 875, ../sass/app/_mixins.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-0 {
    right: 0%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-0 {
    left: 0%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 875, ../sass/app/_mixins.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 883, ../sass/app/_mixins.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-0 {
    right: 0%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 893, ../sass/app/_mixins.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-0 {
    left: 0%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 888, ../sass/app/_mixins.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 898, ../sass/app/_mixins.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/* Import Stylesheets
----------------------------------------------- */
/* Reset
----------------------------------------------- */
/* line 14, ../sass/app/_global.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 24, ../sass/app/_global.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 29, ../sass/app/_global.scss */
body {
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 35, ../sass/app/_global.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../sass/app/_global.scss */
nav ul {
  list-style: none;
}

/* line 43, ../sass/app/_global.scss */
blockquote, q {
  quotes: none;
}

/* line 48, ../sass/app/_global.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../sass/app/_global.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 61, ../sass/app/_global.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 67, ../sass/app/_global.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 74, ../sass/app/_global.scss */
del {
  text-decoration: line-through;
}

/* line 78, ../sass/app/_global.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 83, ../sass/app/_global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 88, ../sass/app/_global.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 97, ../sass/app/_global.scss */
input, select {
  vertical-align: middle;
}

/* line 101, ../sass/app/_global.scss */
.clear {
  clear: both;
}

/* Global
----------------------------------------------- */
/* line 107, ../sass/app/_global.scss */
* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

/* line 116, ../sass/app/_global.scss */
body {
  background: #f7f9fa;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 122, ../sass/app/_global.scss */
.container {
  max-width: 100%;
}

/* Alignments
----------------------------------------------- */
/* line 128, ../sass/app/_global.scss */
.left {
  float: left;
}

/* line 132, ../sass/app/_global.scss */
.right {
  float: right;
}

/* Links
----------------------------------------------- */
/* line 138, ../sass/app/_global.scss */
a {
  text-decoration: none;
}

/* line 142, ../sass/app/_global.scss */
a:hover {
  text-decoration: underline;
}

/* Headers
----------------------------------------------- */
/* line 148, ../sass/app/_global.scss */
h1, h2, h3, h4, h5 {
  clear: both;
  font-weight: 300;
}

/* line 153, ../sass/app/_global.scss */
h1 {
  font-size: 32px;
}

/* line 157, ../sass/app/_global.scss */
h2 {
  font-size: 28px;
}

/* line 161, ../sass/app/_global.scss */
h3 {
  font-size: 24px;
}

/* line 165, ../sass/app/_global.scss */
h4 {
  font-size: 22px;
}

/* line 169, ../sass/app/_global.scss */
h5 {
  font-size: 18px;
}

/* Slideout Tray
----------------------------------------------- */
/* line 175, ../sass/app/_global.scss */
.tray {
  background: #edeff1;
  border-left: 1px solid #d4dcde;
  float: right;
  width: 32.5%;
  height: 100%;
}
/* line 182, ../sass/app/_global.scss */
.tray h2 {
  margin-top: 25px;
  text-align: center;
}

/* line 188, ../sass/app/_global.scss */
.tray-menu {
  width: 100%;
}
/* line 191, ../sass/app/_global.scss */
.tray-menu ul {
  background: #BDC3C7;
  float: left;
  height: 35px;
  width: 100%;
}
/* line 198, ../sass/app/_global.scss */
.tray-menu li {
  float: left;
}

/* Icons
----------------------------------------------- */
@font-face {
  font-family: 'icons';
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg") format("svg");
}

/* line 214, ../sass/app/_global.scss */
[data-icon]:before {
  content: attr(data-icon);
  font-family: icons;
  speak: none;
}

/* Alerts & Warnings
----------------------------------------------- */
/* line 222, ../sass/app/_global.scss */
.alert {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 12px 15px;
  width: 100%;
}

/* line 234, ../sass/app/_global.scss */
.close {
  cursor: pointer;
  float: right;
}
/* line 238, ../sass/app/_global.scss */
.close:hover {
  text-decoration: none;
}

/* line 243, ../sass/app/_global.scss */
.alert-info {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
/* line 248, ../sass/app/_global.scss */
.alert-info .close {
  color: #468847;
}

/* line 253, ../sass/app/_global.scss */
.alert-notice {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
/* line 258, ../sass/app/_global.scss */
.alert-notice .close {
  color: #3a87ad;
}

/* line 264, ../sass/app/_global.scss */
.alert-warning,
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #b94a48;
}
/* line 269, ../sass/app/_global.scss */
.alert-warning .close,
.alert-error .close {
  color: #b94a48;
  text-shadow: 0;
}

/* Header
----------------------------------------------- */
/* line 3, ../sass/app/_header.scss */
.site-header {
  background-color: #fff;
  color: #2a2f36;
  height: 55px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
/* line 11, ../sass/app/_header.scss */
.site-header img {
  max-width: 100%;
  height: auto;
}
/* line 16, ../sass/app/_header.scss */
.site-header.scrolled {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09);
}

/* Header
----------------------------------------------- */
/* line 23, ../sass/app/_header.scss */
.logo {
  background-color: #62b5ba;
  border-bottom: 1px solid #2a2f36;
  height: 55px;
  padding: 0;
  width: 200px;
}
/* line 30, ../sass/app/_header.scss */
.logo img {
  height: auto;
  width: 135px;
  display: block;
  margin: 0 auto;
}

/* Account Dropdown
----------------------------------------------- */
/* line 40, ../sass/app/_header.scss */
.account-navigation {
  display: block;
  float: right;
  font-size: 14px;
}
/* line 45, ../sass/app/_header.scss */
.account-navigation a {
  color: #fff;
  text-decoration: none;
}
/* line 50, ../sass/app/_header.scss */
.account-navigation ul li {
  height: 55px;
  margin-right: 30px;
  padding: 21px 20px 0 50px;
  color: #7a8ca2;
}
/* line 57, ../sass/app/_header.scss */
.account-navigation ul li:hover {
  cursor: pointer;
}
/* line 61, ../sass/app/_header.scss */
.account-navigation ul li ul {
  background: #f7f9fa;
  border: 1px solid #d8dce0;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #7a8ca2;
  display: none;
  margin-left: -50px;
  min-width: 150px;
  padding: 4px 0;
  position: absolute;
  top: 55px;
  width: 100%;
  z-index: 99999;
}
/* line 79, ../sass/app/_header.scss */
.account-navigation ul li ul a,
.account-navigation ul li ul a:visited {
  color: #7a8ca2;
}
/* line 83, ../sass/app/_header.scss */
.account-navigation ul li:hover > ul {
  display: block;
}
/* line 87, ../sass/app/_header.scss */
.account-navigation ul li ul li {
  clear: both;
  padding: 5px 0 5px 18px;
  height: 40px;
  width: 100%;
}
/* line 94, ../sass/app/_header.scss */
.account-navigation ul li ul li:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: none;
}
/* line 99, ../sass/app/_header.scss */
.account-navigation .menu-item {
  position: relative;
}
/* line 103, ../sass/app/_header.scss */
.account-navigation .dropdown-icon {
  font-size: 30px;
  line-height: 0;
  position: absolute;
  float: right;
  right: 0;
  margin-top: -9px;
}
/* line 112, ../sass/app/_header.scss */
.account-navigation .account-icon {
  font-size: 24px;
}
/* line 116, ../sass/app/_header.scss */
.account-navigation .user-photo {
  position: absolute;
  left: 0;
  top: 10px;
}
/* line 121, ../sass/app/_header.scss */
.account-navigation .user-photo img {
  margin: 0;
  height: 35px;
  border-radius: 50%;
}

/* line 129, ../sass/app/_header.scss */
.toolbar {
  margin-left: 200px;
  border-bottom: 1px solid #d8dce0;
  height: 55px;
}

/* Notifications
----------------------------------------------- */
/* line 137, ../sass/app/_header.scss */
.notifications {
  color: #7a8ca2;
  float: right;
  font-size: 38px;
  padding-right: 35px;
  padding-top: 7px;
}
/* line 144, ../sass/app/_header.scss */
.notifications span {
  margin: 0 6px;
}
/* line 148, ../sass/app/_header.scss */
.notifications ul {
  float: left;
  list-style: none;
}
/* line 153, ../sass/app/_header.scss */
.notifications li {
  float: left;
  position: relative;
}
/* line 158, ../sass/app/_header.scss */
.notifications ul li ul {
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #d8dce0;
  display: none;
  font-size: 13px;
  position: absolute;
  top: 47px;
  left: -50px;
  width: 300px;
}
/* line 171, ../sass/app/_header.scss */
.notifications ul li ul li {
  border-bottom: 1px dashed #d8dce0;
  clear: both;
  padding: 20px 10px 20px 55px;
  position: relative;
  width: 100%;
}
/* line 179, ../sass/app/_header.scss */
.notifications ul li ul li:nth-last-child(2) {
  border-bottom: none;
}
/* line 184, ../sass/app/_header.scss */
.notifications ul li ul li.title,
.notifications ul li ul li.footer {
  background: #f7f9fa;
  border-bottom: none;
  font-weight: bold;
  padding: 12px 10px;
  text-align: center;
}
/* line 192, ../sass/app/_header.scss */
.notifications ul li ul li.title {
  border-bottom: 1px solid #d8dce0;
}
/* line 196, ../sass/app/_header.scss */
.notifications ul li ul li.footer {
  border-top: 1px solid #d8dce0;
}
/* line 200, ../sass/app/_header.scss */
.notifications ul li:hover ul {
  display: block;
}
/* line 204, ../sass/app/_header.scss */
.notifications ul li ul li img {
  float: left;
  position: absolute;
  left: 10px;
  top: 12px;
  height: auto;
  width: 30px;
  border-radius: 50%;
}

/* Search
----------------------------------------------- */
/* line 217, ../sass/app/_header.scss */
.searchbox {
  float: left;
  margin: 0 auto;
  padding: 9px 10px 0 30px;
  width: 300px;
}

/* line 224, ../sass/app/_header.scss */
.search {
  background: url(../img/search-icon.png) center right 10px no-repeat;
  background-size: 20px auto;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #7d888f;
  float: left;
  font-size: 13px;
  height: 34px;
  margin: 0 auto;
  padding: 5px 10px;
  width: 250px;
}
/* line 238, ../sass/app/_header.scss */
.search:focus {
  -webkit-transition: border, 0.25s;
  transition: border, 0.25s;
  border: 1px solid #62b5ba;
}

/* Sidebar
----------------------------------------------- */
/* line 3, ../sass/app/_sidebar.scss */
.sidebar {
  background: #2a2f36;
  min-height: calc(100% - 55px);
  margin: 40px 0 0;
  min-height: 100%;
  padding: 15px 0 0;
  position: fixed;
  text-align: center;
  width: 200px;
}

/* line 14, ../sass/app/_sidebar.scss */
.site-navigation {
  float: right;
  width: 200px;
}
/* line 18, ../sass/app/_sidebar.scss */
.site-navigation a {
  color: #aaa;
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 48px;
  margin: 0;
  padding: 15px 20px 0 62px;
  position: relative;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 31, ../sass/app/_sidebar.scss */
.site-navigation a:before {
  font-family: 'icons';
  font-size: 43px;
  left: 20px;
  margin-top: -2px;
  position: absolute;
  top: 4px;
}
/* line 40, ../sass/app/_sidebar.scss */
.site-navigation a:hover {
  -webkit-transition: color, 0.2s;
  transition: color, 0.2s;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-decoration: none;
}
/* line 47, ../sass/app/_sidebar.scss */
.site-navigation .current {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
/* line 51, ../sass/app/_sidebar.scss */
.site-navigation .current span {
  color: #fff;
}

/* Navigation Icons
----------------------------------------------- */
/* line 59, ../sass/app/_sidebar.scss */
#dashboard:before {
  content: "\1F6C7";
}

/* line 60, ../sass/app/_sidebar.scss */
#clients:before {
  content: "\1F464";
}

/* line 61, ../sass/app/_sidebar.scss */
#leads:before {
  content: "\E700";
}

/* line 62, ../sass/app/_sidebar.scss */
#projects:before {
  content: "\E800";
}

/* line 63, ../sass/app/_sidebar.scss */
#documents:before {
  content: "\1F4C4";
}

/* line 64, ../sass/app/_sidebar.scss */
#invoices:before {
  content: "\1F4E5";
}

/* line 65, ../sass/app/_sidebar.scss */
#reports:before {
  content: "\1F4C8";
}

/* Dashboard Right Sidebar
----------------------------------------------- */
/* line 69, ../sass/app/_sidebar.scss */
.dashboard-sidebar {
  background: #fff;
  border-left: 1px solid #d8dce0;
  color: #3b444b;
  font-size: 14px;
  min-height: calc(100% - 55px);
  padding: 35px;
  position: absolute;
  right: 0;
  top: 55px;
  width: 280px;
}
/* line 81, ../sass/app/_sidebar.scss */
.dashboard-sidebar ul {
  list-style: none;
  margin-bottom: 24px;
}
/* line 86, ../sass/app/_sidebar.scss */
.dashboard-sidebar li {
  font-size: 13px;
  color: #777;
  margin: 14px 0;
}
/* line 92, ../sass/app/_sidebar.scss */
.dashboard-sidebar h3 {
  border-bottom: 1px solid #d8dce0;
  color: #7a8ca2;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
  padding-bottom: 8px;
}
/* line 101, ../sass/app/_sidebar.scss */
.dashboard-sidebar input[type="checkbox"] {
  margin: 2px 10px 0 0;
  float: left;
}
/* line 106, ../sass/app/_sidebar.scss */
.dashboard-sidebar .icon {
  line-height: 0.8;
  font-size: 30px;
  float: left;
}
/* line 112, ../sass/app/_sidebar.scss */
.dashboard-sidebar .upcoming-appointments label {
  margin-top: 9px;
  display: block;
  float: left;
  margin-left: 9px;
}

/* Modules
----------------------------------------------- */
/* line 3, ../sass/app/_modules.scss */
.module-container {
  clear: both;
  width: 100%;
}

/* line 8, ../sass/app/_modules.scss */
.module .module-header {
  background: #43496f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #43496f;
  color: #fff;
  font-size: 15px;
  padding: 12px 20px;
}
/* line 17, ../sass/app/_modules.scss */
.module .module-header section {
  border-left: none;
}
/* line 22, ../sass/app/_modules.scss */
.module .module-body {
  background: #fff;
  border: 1px solid #e3e9ed;
  border-top: none;
  margin: 0 0 25px;
  min-height: 120px;
  overflow: hidden;
  padding: 20px 0;
}
/* line 32, ../sass/app/_modules.scss */
.module .module-list {
  list-style: none;
  border-left: 1px solid #e3e9ed;
  border-right: 1px solid #e3e9ed;
}
/* line 38, ../sass/app/_modules.scss */
.module .module-list-item {
  background: #fff;
  clear: both;
  position: relative;
  border-bottom: 1px solid #e3e9ed;
  font-size: 14px;
  color: #777;
  height: 35px;
}
/* line 47, ../sass/app/_modules.scss */
.module .module-list-item .icon {
  font-size: 35px;
  position: absolute;
  top: -5px;
}
/* line 53, ../sass/app/_modules.scss */
.module .module-list-item section {
  padding: 9px 15px;
  height: 100%;
}
/* line 59, ../sass/app/_modules.scss */
.module .no-padding {
  padding: 0;
}
/* line 63, ../sass/app/_modules.scss */
.module .no-border {
  border: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

/* List Constants
----------------------------------------------- */
/* line 74, ../sass/app/_modules.scss */
.moveable {
  width: 1.5%;
}

/* Clients List
----------------------------------------------- */
/* line 80, ../sass/app/_modules.scss */
.client-company {
  width: 35%;
}

/* line 84, ../sass/app/_modules.scss */
.client-contact {
  width: 25%;
}

/* line 88, ../sass/app/_modules.scss */
.client-phone {
  width: 14%;
}

/* line 92, ../sass/app/_modules.scss */
.client-email {
  width: 23%;
}

/* Task List
----------------------------------------------- */
/* line 98, ../sass/app/_modules.scss */
.task-name {
  padding: 0 20px;
  width: 60%;
}

/* line 103, ../sass/app/_modules.scss */
.task-hours {
  border-left: 1px solid #eaeaea;
  width: 20%;
}

/* line 108, ../sass/app/_modules.scss */
.task-due {
  border-left: 1px solid #eaeaea;
  width: 18%;
}

/* Project List
----------------------------------------------- */
/* line 115, ../sass/app/_modules.scss */
.completed {
  width: 3%;
}

/* line 119, ../sass/app/_modules.scss */
.due-date {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 126, ../sass/app/_modules.scss */
.project-client {
  width: 18%;
}

/* line 130, ../sass/app/_modules.scss */
.project-hours {
  width: 10%;
}

/* line 134, ../sass/app/_modules.scss */
.project-name {
  border-left: none !important;
  width: 57%;
}

/* Leftover Selectors -- These need to be sorted through
----------------------------------------------- */
/* line 141, ../sass/app/_modules.scss */
.moveable {
  color: #aaa;
  cursor: move;
  padding: 14px 0 0 !important;
  text-align: center;
  width: 2%;
}

/* line 149, ../sass/app/_modules.scss */
.completed {
  width: 3%;
}

/* line 153, ../sass/app/_modules.scss */
.due-date {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 160, ../sass/app/_modules.scss */
.project-client {
  width: 18%;
}

/* line 164, ../sass/app/_modules.scss */
.project-hours {
  width: 10%;
}

/* line 168, ../sass/app/_modules.scss */
.project-name {
  border-left: none !important;
  width: 57%;
}

/* Dashboard
----------------------------------------------- */
/* line 175, ../sass/app/_modules.scss */
.billing-chart {
  margin-left: -5px;
}

/* Buttons
----------------------------------------------- */
/* line 3, ../sass/app/_buttons.scss */
.button-wrap {
  float: right;
}

/* line 7, ../sass/app/_buttons.scss */
.button {
  border-radius: 5px;
  box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-size: 35px;
  height: 35px;
  margin: 0 0 0 5px;
  padding: 0px 10px;
  position: relative;
  width: 40px;
}
/* line 18, ../sass/app/_buttons.scss */
.button .icon {
  position: absolute;
  top: -9px;
  left: 9px;
}

/* Green */
/* line 26, ../sass/app/_buttons.scss */
.button-green {
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  background: #62b5ba;
  border-radius: 5px;
  border: 1px solid #559fa3;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 1px #129078;
}

/* line 37, ../sass/app/_buttons.scss */
.button-green:hover {
  background: #24ceab;
}

/* line 41, ../sass/app/_buttons.scss */
.button-green:active {
  background-color: #62b5ba;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62b5ba), color-stop(100%, #559fa3));
  background-image: -webkit-linear-gradient(bottom, #62b5ba, #559fa3);
  background-image: linear-gradient(to top,#62b5ba, #559fa3);
}

/* Blue */
/* line 46, ../sass/app/_buttons.scss */
.button-blue {
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  background: #1ea4ca;
  border-radius: 5px;
  border: 1px solid #166075;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(12, 102, 110, 0.8);
}

/* line 57, ../sass/app/_buttons.scss */
.button-blue:hover {
  background: #26b5de;
}

/* line 61, ../sass/app/_buttons.scss */
.button-blue:active {
  background-color: #26b5de;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26b5de), color-stop(100%, #1ea4ca));
  background-image: -webkit-linear-gradient(bottom, #26b5de, #1ea4ca);
  background-image: linear-gradient(to top,#26b5de, #1ea4ca);
}

/* Gray */
/* line 66, ../sass/app/_buttons.scss */
.button-gray {
  -webkit-box-shadow: inset 0 1px 0 white;
  -ms-box-shadow: inset 0 1px 0 white;
  -o-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  background: #f6f6f6;
  border: 1px solid #dfdfdf;
  color: #999;
}

/* line 73, ../sass/app/_buttons.scss */
.button-gray:hover {
  background: #fafafa;
}

/* line 77, ../sass/app/_buttons.scss */
.button-gray:active {
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, whitesmoke));
  background-image: -webkit-linear-gradient(bottom, #fefefe, whitesmoke);
  background-image: linear-gradient(to top,#fefefe, whitesmoke);
}

/* Content
----------------------------------------------- */
/* line 3, ../sass/app/_content.scss */
.site-main {
  min-height: calc(100% - 55px);
}

/* line 7, ../sass/app/_content.scss */
.content {
  height: 100%;
  margin-left: 200px;
  padding: 50px 0 0;
}

/* line 13, ../sass/app/_content.scss */
.content-dashboard {
  padding-right: 280px;
}

/* Page Header
----------------------------------------------- */
/* line 19, ../sass/app/_content.scss */
.page-header {
  clear: both;
  color: #3a4257;
  border-bottom: 1px solid #d8dce0;
  padding-bottom: 16px;
  max-width: 100%;
  margin-bottom: 30px;
  height: 70px;
}
/* line 28, ../sass/app/_content.scss */
.page-header .page-title {
  float: left;
  margin: 25px 30px 0 0;
}
/* line 32, ../sass/app/_content.scss */
.page-header .page-title h2 {
  width: 100%;
}
/* line 37, ../sass/app/_content.scss */
.page-header .form_in_place input {
  width: 100%;
  font-size: 26px;
}
/* line 42, ../sass/app/_content.scss */
.page-header .button-wrap {
  margin-top: 20px;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 7, ../sass/app/_colorbox.scss */
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 15, ../sass/app/_colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/app/_colorbox.scss */
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

/* line 26, ../sass/app/_colorbox.scss */
#cboxContent {
  position: relative;
}

/* line 30, ../sass/app/_colorbox.scss */
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 35, ../sass/app/_colorbox.scss */
#cboxTitle {
  margin: 0;
}

/* line 40, ../sass/app/_colorbox.scss */
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 51, ../sass/app/_colorbox.scss */
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

/* line 55, ../sass/app/_colorbox.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

/* line 64, ../sass/app/_colorbox.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/* line 73, ../sass/app/_colorbox.scss */
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 84, ../sass/app/_colorbox.scss */
#cboxOverlay {
  background: rgba(238, 246, 248, 0.9);
}

/* line 88, ../sass/app/_colorbox.scss */
#cboxWrapper {
  background: none;
}

/* line 92, ../sass/app/_colorbox.scss */
#colorbox {
  outline: 0;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.07);
}

/* line 97, ../sass/app/_colorbox.scss */
#cboxContent {
  background: #fff;
  overflow: hidden;
}

/* line 102, ../sass/app/_colorbox.scss */
.cboxIframe {
  background: #fff;
}

/* line 106, ../sass/app/_colorbox.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* line 115, ../sass/app/_colorbox.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

/* line 124, ../sass/app/_colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}

/* line 131, ../sass/app/_colorbox.scss */
#cboxLoadingOverlay {
  background: url(images/loading_background.png) no-repeat center center;
}

/* line 135, ../sass/app/_colorbox.scss */
#cboxLoadingGraphic {
  background: url(images/loading.gif) no-repeat center center;
}

/* line 142, ../sass/app/_colorbox.scss */
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}

/* line 154, ../sass/app/_colorbox.scss */
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}

/* line 158, ../sass/app/_colorbox.scss */
#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff no-repeat -25px 0;
  width: 0px;
  height: 0px;
  text-indent: -9999px;
}

/* line 168, ../sass/app/_colorbox.scss */
#cboxClose:hover {
  background-position: -25px -25px;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
/* line 184, ../sass/app/_colorbox.scss */
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/* Login
----------------------------------------------- */
/* line 3, ../sass/app/_login.scss */
.login {
  background-image: url(image_path("login.png"));
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
/* line 9, ../sass/app/_login.scss */
.login:after {
  background: #20c9b4;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #20c9b4 0%, #43496f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #20c9b4), color-stop(100%, #43496f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #20c9b4 0%, #43496f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #20c9b4 0%, #43496f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #20c9b4 0%, #43496f 100%);
  /* IE10+ */
  background: linear, 45deg, #20c9b4 0%, #43496f 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20c9b4', endColorstr='#43496f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  z-index: 1;
  opacity: 0.96;
}
/* line 28, ../sass/app/_login.scss */
.login .login-logo {
  background: url(image_path("logo-white.png"));
  background-repeat: no-repeat;
  background-size: 280px;
  color: transparent;
  display: block;
  height: 80px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 280px;
}
/* line 40, ../sass/app/_login.scss */
.login a {
  color: #999;
  font-size: 14px;
}
/* line 45, ../sass/app/_login.scss */
.login a:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 50, ../sass/app/_login.scss */
.login .page-header {
  padding: 0;
  text-align: center;
}

/* line 55, ../sass/app/_login.scss */
.login-container {
  margin: 12.5% auto 0;
  width: 370px;
  position: relative;
  z-index: 100;
}
/* line 61, ../sass/app/_login.scss */
.login-container h1 {
  color: #fff;
  font-size: 45px;
  margin: 0 auto 20px;
  text-align: center;
}

/* line 69, ../sass/app/_login.scss */
.login-form {
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
  background: #fff;
  margin: 25px 0 0;
  padding: 40px;
}

/* line 76, ../sass/app/_login.scss */
.login-form input {
  border: 1px solid #ddd;
  margin: 0;
  font-size: 14px;
  padding: 10px 12px;
  width: 100%;
}

/* line 84, ../sass/app/_login.scss */
.login-form input:focus {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fafafa;
}

/* line 89, ../sass/app/_login.scss */
.login-form input:nth-child(1) {
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 95, ../sass/app/_login.scss */
.login-form input:nth-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 100, ../sass/app/_login.scss */
.login-form input[type=checkbox] {
  float: left;
  margin: 1px 10px 0 0;
  width: auto;
}

/* line 106, ../sass/app/_login.scss */
.remember-me {
  color: #999;
  font-size: 14px;
  margin: 15px 5px;
}

/* line 112, ../sass/app/_login.scss */
.login-form input[type=submit] {
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  background: #5c638d;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.19);
  border: 1px solid #43496F;
}

/* line 134, ../sass/app/_login.scss */
.links {
  margin: 15px 0 0;
}
/* line 137, ../sass/app/_login.scss */
.links a {
  text-decoration: none;
}
/* line 141, ../sass/app/_login.scss */
.links .forgot-password {
  float: right;
}

/* Forms
----------------------------------------------- */
/* line 3, ../sass/app/_forms.scss */
form {
  color: #777;
  font-size: 13px;
  max-width: 100%;
  width: 450px;
}
/* line 9, ../sass/app/_forms.scss */
form .instructions {
  margin: 15px 0 0;
  padding: 10px 0;
}
/* line 14, ../sass/app/_forms.scss */
form input {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background: #f6f6f6;
  color: #777;
  padding: 10px;
  float: left;
  width: 350px;
}
/* line 24, ../sass/app/_forms.scss */
form label {
  width: 70px;
  float: left;
  text-align: left;
  padding: 12px 0 0;
  margin: 0 30px 0 0;
}
/* line 32, ../sass/app/_forms.scss */
form input[type=submit] {
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  float: right;
  margin: 15px 0 0;
  width: 25%;
}
/* line 46, ../sass/app/_forms.scss */
form select {
  width: 100%;
  margin: 25px 0 0;
}
