html,body {
	overflow-x: hidden;

	@include breakpoint(medium) {
		overflow-x: scroll;
	}
}

body {
	position: relative;
	min-height: 100%;
	z-index: 1;
	font-family: $sans;
	background: $grey-light;
}

a {
	color: $secondary;
	text-decoration: none;

	&:hover {
		color: darken($secondary, 15);
	}
}