// Fonts
$sans: "Open Sans", Arial, Helvetica, sans-serif;
$icon: 'entypo';

// Colors
$primary: #ee2c49;
$secondary: #32a5ce;
$white: #fff;
$grey-light: #f7f9fa;
$grey-med: #d8dce0;
$grey: #aaa;
$dark: #2a2f36;
$darker: #21252b;
$black: #33393d;
$green: #8ce196;