/* Import Fonts
----------------------------------------------- */
@font-face {
    font-family: 'icons';
    src: url('../fonts/entypo.eot' + "?#iefix") format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf')  format('truetype'),
         url('../fonts/entypo.svg' + "#MyFont") format('svg');
}

@font-face {
    font-family: 'social-icons';
    src: url('../fonts/entypo-social.eot' + "?#iefix") format('embedded-opentype'),
         url('../fonts/entypo-social.woff') format('woff'),
         url('../fonts/entypo-social.ttf')  format('truetype'),
         url('../fonts/entypo-social.svg' + "#MyFont") format('svg');
}

/* Global
----------------------------------------------- */
* {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body,
#page {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.clear {
	clear:both;
}

::selection {
	background-color: $green;
	color: #fff;
}

.break {
	display: block;
	clear: left;
}

/* Headlines
----------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 18px;
}

.feature h3 {
	color: $charcoal;
	font-weight: 300;
	font-size: 30px;
	margin: 0 0 8px;
	margin: 0 0 0.5rem;
}

.faqs h3 {
	color: $charcoal;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 25px;
}

/* Inputs & Buttons
----------------------------------------------- */
input[type="text"],
input[type="email"],
input[type="password"] {
	border: 1px solid #dae3e7;
	box-shadow: none;
	font-size: 14px;
	padding: 15px;
	width: 209px;
	margin-left: 20px;
	outline: none;
}

input:focus {
	outline: 0 !important;
}

input[type="submit"] {
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 8px 20px;
	//padding: 0.5rem 0.75rem;
	float: right;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}

input[type="submit"]:hover {
	color: #fff;
}

/* Icons
----------------------------------------------- */
[data-icon]:before {
  font-family: icons;
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

/* Text
----------------------------------------------- */
p {
	line-height: 1.25;
	margin: 0 0 24px;
	margin: 0 0 1.5rem;
}

strong {
	font-weight: bold;
}
