<div id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate="">
							<div id="mce-responses">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>

							<div class="mc-field-group">
								<input type="email" value="" name="email" placeholder="Email Address..." class="required email" id="mce-EMAIL">
								<input type="password" value="" name="password" placeholder="Password" class="required email" id="mce-PASSWORD">
								<button type="submit" id="login">Login</button>
							</div>
</div>