<%= render "header" %>

	<section class="featured-content design row">
		<div class="container">
			<div class="row">
	        	<div class="feature col-lg-4 col-md-4">
	        		<h3>This is some copy</h3>

	                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
	            </div><!-- END .feature / .span4 -->

	            <div class="design-feature-image col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
					Image goes here
				</div><!-- END .design-feature-image / .span7 / .offset1 -->

	        </div><!-- END .row -->
	    </div><!-- .container -->
	</section><!-- END .featured-content / .design / .row -->

	<section class="featured-content design row">
		<div class="container">
	       	<div class="row">
	            <div class="design-feature-image col-lg-7 col-md-7">
					Image goes here
				</div><!-- END .design-feature-image / .span7 / .offset1 -->

	            <div class="feature col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-4">
					<h3>This is some copy</h3>

	                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
	            </div><!-- END .feature / .span4 -->

	        </div><!-- END .row -->
	    </div><!-- .container -->
	</section><!-- END .featured-content / .design / .row -->

	<section class="featured-content design row">
		<div class="container">
	       	<div class="row">
				<div class="feature col-lg-4 col-md-4">
					<h3>This is some copy</h3>

	                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
				</div><!-- END .feature / .span4 -->

	            <div class="design-feature-image col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
					Image goes here
	            </div><!-- END .design-feature-image / .span7 / .offset1 -->

	        </div><!-- END .row -->
	    </div><!-- .container -->
	</section><!-- END .featured-content / .design / .row -->

	<section class="featured-content design row">
		<div class="container">
	        <div class="row">
				<div class="design-feature-image col-lg-7 col-md-7">
					Image goes here
				</div><!-- END .design-feature-image / .span7 / .offset1 -->

	            <div class="feature col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
					<h3>This is some copy</h3>

	                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
				</div><!-- END .feature / .span4 -->
			</div><!-- END .row -->
		</div><!-- .container -->
	</section><!-- END .featured-content / .design / .row -->

<%= render "footer" %>


