<aside id="secondary" class="sidebar">
	<nav id="nav" class="site-navigation">
        <%= link_to 'Dashboard', dashboard_path, id: 'dashboard', class: cp(dashboard_path) %>
        <%= link_to "Clients", clients_path, id: 'clients', class: cp(clients_path) %>
        <%= link_to "Leads", leads_path, id: 'leads', class: cp(leads_path) %>
        <%= link_to "Projects", projects_path, id: 'projects', class: cp(projects_path) %>
        <%= link_to "Documents", documents_path, id: 'documents', class: cp(documents_path) %>
        <%= link_to "Invoices", invoices_path, id: 'invoices', class: cp(invoices_path) %>
        <%= link_to "Reports", reports_path, id: 'reports', class: cp(reports_path) %>
    </nav>
</aside>